<template>
  <div class="vacancies">
    <div class="simple-stub"></div>
    <div class="profile-content">
      <h1 class="c-white">{{ $tg.vacancies }}</h1>
      <form @submit.prevent="validateAndApply()">
        <div class="filters__search-wrap">
          <m-input
            v-model="formModel.searchString"
            class="filters__search-input"
            maxlength="100"
            :placeholder="t.searchDotted"
          />
          <m-button
            class="filters__search-submit md-icon-button"
            type="submit"
            :loadingPromise="submitBtnPromise"
          >
            <md-icon>search</md-icon>
          </m-button>
        </div>
      </form>
      <div>
        <div class="card filters__collapsible-card">
          <collapsible :header="t.additionalFiltersHeader">
            <form @submit.prevent="validateAndApply()">
              <div class="row">
                <field
                  class="col-xs-12 col-sm-4"
                  :label="$tg.professionLabel"
                >
                  <profession-multiselect v-model="formModel.profession"></profession-multiselect>
                </field>

                <field
                  class="col-xs-12 col-sm-4"
                  :label="$t.vacancies.edit.employmentTypeLabel"
                >
                  <employment-type-multiselect v-model="formModel.employmentType" />
                </field>

                <field
                  class="col-xs-12 col-sm-4"
                  :label="$t.vacancies.edit.currencyLabel"
                >
                  <currency-multiselect v-model="formModel.currency" />
                </field>

                <field
                  class="col-xs-12 col-sm-4"
                  :label="t.moreThanSalaryPerMonthLabel"
                >
                  <number-input
                    v-model="formModel.moreThanSalaryPerMonth"
                    :min="0"
                    :max="mtsMax"
                    :placeholder="$tg.enterNumber"
                  />
                </field>
                <field
                  class="col-xs-12 col-sm-4"
                  :label="t.lessThanSalaryPerMonthLabel"
                >
                  <number-input
                    v-model="formModel.lessThanSalaryPerMonth"
                    :min="ltsMin"
                    :max="$consts.validations.maxSalary"
                    :placeholder="$tg.enterNumber"
                  />
                </field>
              </div>
            </form>
          </collapsible>
        </div>

        <div class="card filters__collapsible-card">
          <collapsible
            :header="t.showOnMapOrFindByAddress"
            :collapsed.sync="collapsedAddresses"
          >
            <SearchByAddresses
              ref="searchByAddresses"
              @input="onSearchByAddressesInput"
              v-model="formModel.address"
              :vacancies="items"
              @sbm="validateAndApply()"
            />
          </collapsible>
        </div>

      </div>
      <div v-if="items && items.length">
        <div class="cards-list card">
          <div
            class="card-list__item clearfix"
            v-for="vacancy in items"
            :key="vacancy.id"
          >

            <div
              v-if="vacancy.company.mainPhotoUri"
              class="right cl-item__photo-wrap"
            >
              <img
                :src="vacancy.company.mainPhotoUri"
                class="cl-item__photo"
                :alt="`Company '${vacancy.company.name}' image`"
              >
            </div>

            <div class="cl-item__content">
              <div class="cl-item__name-link">
                <router-link :to="{ name: 'VacancyDetails', params: { vacancyId: vacancy.id } }">
                  <span class="cl-item__name">{{ vacancy.name }}</span>
                  <span
                    class="cl-item__name-salary"
                    v-if="vacancy.salaryPerMonth"
                  >{{ vacancy.salaryPerMonth + ' ' + vacancy.currency.name }}</span>
                </router-link>
              </div>
              <router-link
                class="inline-block"
                :to="{ name: 'CompanyDetails', params: { companyId: vacancy.company.id } }"
              >
                <span class="cl-item__cn">{{ vacancy.company.name }}</span>
              </router-link>

              <span class="cl-item__address">
                <md-icon class="ci-list__address-icon">location_on</md-icon>
                <span class="ci-list__formatted-address">
                  {{ vacancy.companyFilial.address.formattedAddress }}
                </span>
              </span>

              <div>
                <div class="ci-list__info-wrap">
                  <span class="ci-list__info-label">{{ $tg.professionLabel }}:</span>
                  <span class="ci-list__info-value">{{ vacancy.profession.name }}</span>
                </div>
                <div class="ci-list__info-wrap">
                  <span class="ci-list__info-label">{{ $t.company.employmentTypeLabel }}:</span>
                  <span class="ci-list__info-value">{{ vacancy.employmentType.name }}</span>
                </div>
              </div>

              <div class="cl-item__desc break-word">{{ vacancy.description | ShortenStr(250) }}</div>
            </div>
          </div>
        </div>
      </div>
      <h2
        v-else
        class="empty-state-header"
      >
        {{ $tg.noVacancies }}
      </h2>
      <PaginationWrap />
    </div>
  </div>
</template>

<script lang="ts" src="./vacancies-list.ts"></script>
<style lang="scss" src="./vacancies-list.scss"></style>
