<template>
  <div class="preferred-addresses-map">
    <div class="pam__header-wrap">
      <h2 class="pam__header">{{ t.header }}</h2>
      <span>{{ t.tipAboutAbilityToAdding }}</span>
    </div>

    <div>
      <GoogleMapWrap ref="mapComponent"/>
      <!-- <div class="map-container" ref="map"></div> -->
    </div>
  </div>

</template>

<script lang="ts" src="./addresses-map.ts"></script>
<style lang="scss" src="./addresses-map.scss"></style>
