.preferred-addresses-map {
    margin-top: 30px;
}

.pam__header-wrap {
    margin-bottom: 30px;
    padding-top: 50px;
    margin-left: 51px;
}

.pam__header {
    // border-top: 1px solid rgba(0, 0, 0, .12);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #8e24aa;
    margin: 0;
}