<template>
  <div class="company-preferredAddresss">
    <div class="card">
      <div class="card-header with-actions">{{ $t.myProfile.menuItems.myApplicant.myPreferredAddresses }}
        <div class="card-header-actions">
          <icon-link to="AddPreferredAddress">add</icon-link>
        </div>
      </div>

      <div>
        <div class="list-item" v-for="(preferredAddress, index) in items" :key="preferredAddress.id">
          <div class="list-item__content">
            <div class="list-values">
              <div class="list-value">
                <span class="list-value__caption">{{ index + 1 }}. {{ $tg.address }}:</span> {{ preferredAddress.address.formattedAddress }}
              </div>
              <div class="list-value">
                <span class="list-value__caption">{{ $t.applicant.preferredAddresses.edit.radiusInKilometersLabel }}:</span>
                {{ preferredAddress.radiusInKilometers }}
              </div>
            </div>
          </div>

          <div class="list-item__actions">
            <router-link :to="{ name: 'EditPreferredAddress', params: { preferredAddressId: preferredAddress.id } }" class="md-button md-icon-button">
              <md-icon class="md-primary">edit</md-icon>
            </router-link>

            <m-button :ref="deleteBtnRefName" class="md-icon-button" @click="showDeleteItemConfirmation(preferredAddress, index)">
              <md-icon class="md-primary">delete</md-icon>
            </m-button>
          </div>
        </div>
      </div>

      <AddressesMap :preferredAddresses="items" @add-marker="onAddMarker" />
    </div>
  </div>
</template>

<script lang="ts" src="./my-preferred-addresses.ts"></script>
<style lang="scss" src="./my-preferred-addresses.scss"></style>
