<template>
  <modal
    @close="close"
    @ok="apply"
    :loadingPromise="loadingPromise"
    :okCaption="okCaption"
  >
    <div
      slot="header"
      class="clearfix"
    >
      <h3 class="login-modal__header">{{ header }}</h3>
      <div class="right">
        <m-button
          v-if="!isOpenForgotPasssword"
          class="login-modal__btn"
          @click="forgotPasssword"
          type="button"
        >{{t.forgotPasswordHeader}}?</m-button>
        <router-link
          :to="{ name: 'ConfirmEmail', query: {step: 'resending' } }"
          class="md-button login-modal__btn"
          @click.native="onResendClick"
        >{{ t.resendEmail }}
        </router-link>
      </div>
    </div>
    <div slot="body">
      <ForgotPassword
        ref="submitForm"
        v-if="isOpenForgotPasssword"
        @close="close"
      />
      <Login
        v-else
        ref="submitForm"
        @close="close"
      />
    </div>
  </modal>
</template>

<script lang="ts" src="./login-modal.ts" lang="ts"></script>
<style lang="scss" src="./login-modal.scss"></style>
