.login-modal__header {
    display: inline-block;
}

.login-modal__btn {
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    min-height: 20px!important;
    line-height: 20px!important;
    text-transform: none!important;
}