<template>
  <div class="search-companies-by-addresses">
    <SearchByAddresses ref="sba" />
  </div>
</template>

<script lang="ts" src="./search-companies-by-addresses.tsx"></script>
<style lang="scss">
  .com-info-on-map-label{
    margin: 10px 0 5px;
    font-size: 16px;
    color: rgb(51, 51, 51); 
  }
</style>
