<template>
  <form class="send-resume" @submit.prevent="validateAndApply">

    <field :label="$tg.resume" :vs="$v.formModel.resume">
      <MyResumeMultiselect tryAutocomplete v-model="formModel.resume" :canDeselect="false"/>
    </field>
    <field :label="$tg.messageLabel" :vs="$v.formModel.message">
      <textarea v-model="formModel.message" maxlength="1000"></textarea>
    </field>

    <m-button type="submit" ref="submitBtn" class="md-primary md-raised">{{ $tg.apply }}</m-button>
  </form>
</template>

<script lang="ts" src="./send-resume.ts"></script>
<style lang="scss"></style>
