<template>
  <div class="input-field">
    <validation-wrapper :scope="vsComputed" :value="inputValue" :validation-messages="vms">
      <label :for="id" class="fc-label" :class="{'required': isRequired}">{{ label }}</label>
      <slot></slot>
    </validation-wrapper>
  </div>
</template>

<script lang="ts" src="./field.ts"></script>
<style lang="scss" src="./field.scss"></style>
