<template>
  <div>
    <field :label="t.fullAddressLabel" :vs="vsC.formattedAddress">
      <address-multiselect @input="onChangedAddress" v-model="address" :disabled="disabled"></address-multiselect>
      <div class="input-tip">{{ t.fullAddressTip }}</div>
    </field>
    <field :label="t.countryLabel" :vs="vsC.country">
      <input class="fc" disabled :value="addressCountry" :placeholder="t.countryLabel">
    </field>
    <field :label="t.cityLabel" :vs="vsC.city">
      <input class="fc" disabled :value="addressCity" :placeholder="t.cityLabel">
    </field>
    <field :label="t.streetLabel" :vs="vsC.street">
      <input class="fc" disabled :value="addressStreet" :placeholder="t.streetLabel">
    </field>
    <field :label="t.streetNumberLabel" :vs="vsC.streetNumber">
      <input class="fc" disabled :value="addressStreetNumber" :placeholder="t.streetNumberLabel">
    </field>
  </div>
</template>
<script lang="ts" src="./address-fields.ts"></script>
<style lang="scss" src="./address-fields.scss"></style>
