<template>
  <div class="my-profile">
    <div class="item-details__header-wrap">
      <h2 class="item-details__header">
        {{ t.header }}
      </h2>
    </div>
    <tabs :tabs="tabs"></tabs>
    <div class="item-details__content">
      <my-profile-page v-if="$route.name === 'MyProfile'"></my-profile-page>
      <router-view v-else></router-view>
    </div>
  </div>
</template>

<script lang="ts" src="./my-profile.ts"></script>
<style lang="scss" src="./my-profile.scss"></style>
