// .simple-stub {
//     background-color: #3f51b5;
//     position: absolute;
//     width: 100%;
//     height: 170px;
// }

// .my-profile-content{
//     position: relative;
//     padding: 50px 70px 10px;
// }