@import '~assets/css/all-utils.scss';
.map-container {
    width: 100%;
    height: 400px;
    resize: vertical;
    overflow: auto;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(228, 228, 228);
    background-color: white;
}

.map-wrap {
    width: 100%;
    height: 100%;
}

.map-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.map__full-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    z-index: $map-full-screen-z-index;
}

.map__full-screen-btn-wrap {
    position: absolute;
    right: 10px;
    top: 53px;
}

.map__fs-btn {
    background-color: #ffffffa6;
}
