<template>
  <div>
    <div class="map-container" :style="containerStyle" ref="mapContainer">
      <div class="map-box" :class="{ 'map__full-screen': isFullScreen }">
        <div class="map-wrap" ref="map"></div>
        <div class="map__full-screen-btn-wrap">
          <m-button @click="toggleFullScreen" class="md-icon-button md-raised map__fs-btn">
            <md-icon>{{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}</md-icon>
          </m-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./GoogleMapWrap.ts" lang="ts"></script>
<style lang="scss" src="./GoogleMapWrap.scss"></style>
