.confirm-email-card {
    min-height: 200px;
}

.confirm-email-text {
    font-size: 14px;
    font-weight: 500;
}

.confirm-error-message {
    color: red;
}

.confirm-success-message {
    padding: 9px;
    display: inline-block;
}
