<template>
  <div class="confirm-email">

    <div class="simple-stub"></div>
    <div class="profile-content">
      <div class="card">
        <div class="card-content confirm-email-card">
          <h2 class="align-center">{{ t.header }}</h2>
          <p
            v-if="confirmationStatus == confirmationStatuses.loading"
            class="confirm-email-text"
          >
            {{ t.loadingMessage }}
          </p>
          <div
            v-else-if="confirmationStatus == confirmationStatuses.success"
            class="confirm-email-text"
          >
            <span class="confirm-email-text confirm-success-message">{{ t.confirmationSuccessMessage }}</span>
            <router-link
              v-if="isAuthenticated"
              :to="{ name: 'MyProfile' }"
              class="md-button md-primary md-raised"
            >
              {{ $t.myProfile.myProfilePage.header }}
            </router-link>
            <m-button
              v-else
              @click="openLoginModal"
              class="md-primary md-raised"
            >{{ $tg.loginVerb }}</m-button>
          </div>
          <div v-else>
            <div
              class="confirm-email-text"
              v-if="resendConfirmationStatus != resendConfirmationStatuses.success"
            >
              <span
                v-if="confirmationStatus == confirmationStatuses.error"
                class="confirm-error-message"
              >{{ t.errorMessage1 }}</span> {{ t.errorMessage2 }}
            </div>
            <div v-if="resendConfirmationStatus == resendConfirmationStatuses.success">
              {{ t.successResendingMessage }}
            </div>
            <div v-else>
              <m-form @submit="resendEmail">
                <field
                  :label="$tg.emailLabel"
                  :vs="$v.resendEmailModel.email"
                >
                  <input
                    class="fc"
                    type="email"
                    :placeholder="$tg.emailPh"
                    v-model="resendEmailModel.email"
                  >
                </field>

                <field
                  :label="$tg.passwordLabel"
                  :vs="$v.resendEmailModel.password"
                >
                  <input
                    class="fc"
                    type="password"
                    :placeholder="$tg.passwordPh"
                    v-model="resendEmailModel.password"
                  >
                </field>
                <m-button
                  type="submit"
                  class="md-primary md-raised"
                >{{ t.resendEmail }}</m-button>
              </m-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./confirm-email.ts"></script>
<style lang="scss" src="./confirm-email.scss"></style>
