<template>
  <div class="card-info">
    <div class="card-info__content">
      <h2 class="card-info__header">{{ $t.signUp.asApplicant.header }}</h2>

      <p v-if="isRegistered">{{ successMessage }}</p>
      <div v-else>
        <form @submit.prevent="validateAndApply">
          <h3 class="card-subheader">{{ t.applicantInfo }}</h3>
          <field :label="$tg.fullNameLabel" :vs="$v.formModel.fullName">
            <input class="fc" :placeholder="$tg.fullNamePh" v-model="formModel.fullName">
          </field>

          <h3 class="card-subheader">{{ t.accountInfo }}</h3>

          <field :label="$tg.emailLabel" :vs="$v.formModel.email">
            <input class="fc" type="email" :placeholder="$tg.emailPh" v-model="formModel.email">
          </field>

          <field :label="$tg.passwordLabel" :vs="$v.formModel.password">
            <input class="fc" type="password" :placeholder="$tg.passwordPh" v-model="formModel.password">
          </field>
          <field :label="$t.signUp.confirmPasswordLabel" :vs="$v.formModel.confirmPassword">
            <input class="fc" type="password" :placeholder="$tg.passwordPh" v-model="formModel.confirmPassword">
          </field>

          <m-button ref="submitBtn" class="md-raised md-primary" type="submit">{{ $tg.apply }}</m-button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./as-applicant.ts"></script>
<style lang="scss" src="./as-applicant.scss"></style>
