.r-desc__subheader {
    margin: 15px 0;
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.r-det__appl-photo{
    width: 100%;
    height: auto;
    vertical-align: top;
}