<template>
  <div class="vacancy-datails">

    <div class="item-details__header-wrap">
      <h1 class="item-details__right-header">{{ $tg.resume }}</h1>
      <h2 class="item-details__header">
        {{ itemDetails.name }}
      </h2>
      <div
        class="i-det__subheader"
        v-if="itemDetails.applicant"
      >{{ itemDetails.applicant.fullName }}</div>
    </div>

    <!-- todo, preferred addresses -->

    <div class="item-details__content">
      <div class="card-info">
        <div class="row no-padd">

          <div
            class="col-xs-12 col-sm-4"
            v-if="itemDetails.applicant && itemDetails.applicant.photoUri"
          >
            <img
              :src="itemDetails.applicant.photoUri"
              class="r-det__appl-photo"
              :alt="`Applicant '${itemDetails.applicant.fullName}' photo`"
            >
          </div>
          <div
            class="col-xs-12"
            :class="hasPhoto ? 'col-sm-8' : ''"
          >
            <div class="card-info__content">
              <h2 class="card-info__header">
                {{ $tg.mainInfo }}
              </h2>
              <div class="row">
                <template v-if="itemDetails.applicant">
                  <div class="col-xs-12 col-sm-6">
                    <span class="card-info-label">{{ $t.applicant.contactEmailLabel }}</span>
                    <span class="card-info-value">{{ itemDetails.applicant.contactEmail }}</span>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <span class="card-info-label">{{ $t.applicant.contactPhoneLabel }}</span>
                    <span class="card-info-value">{{ itemDetails.applicant.contactPhone }}</span>
                  </div>
                </template>

                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $t.vacancies.edit.salaryPerMonthLabel }}</span>
                  <span class="card-info-value">{{ itemDetails.salaryPerMonth }} {{ itemDetails.currency | Safe('name') }}</span>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $t.resumes.edit.experienceYearsLabel }}</span>
                  <span class="card-info-value">{{ itemDetails.experienceYears }}</span>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $tg.professionLabel }}</span>
                  <span class="card-info-value">{{ itemDetails.profession | Safe('name') }}</span>
                </div>

                <div
                  class="col-xs-12 col-sm-6"
                  v-if="itemDetails.applicant"
                >
                  <span class="card-info-label">{{ $tg.age }}</span>
                  <span class="card-info-value">{{ itemDetails.applicant.dateOfBirth | AgeByBirthDate }}</span>
                </div>

                <div
                  class="col-xs-12 col-sm-6"
                  v-if="itemDetails.applicant"
                >
                  <span class="card-info-label">{{ $t.company.websiteLabel }}</span>
                  <a
                    rel="nofollow noopener"
                    class="d-block"
                    v-if="itemDetails.applicant.websiteUrl"
                    :href="itemDetails.applicant.websiteUrl"
                    target="_blank"
                  >
                    <span class="card-info-value">{{ itemDetails.applicant.websiteUrl }}</span>
                  </a>
                  <span
                    v-else
                    class="card-info-value"
                  >{{ $tg.noData }}</span>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $tg.resumeFile }}</span>
                  <span class="card-info-value">
                    <a
                      rel="nofollow noopener"
                      v-if="itemDetails.resumeFileUri"
                      :href="itemDetails.resumeFileUri"
                      :download="`${itemDetails.name} ${$tg.resume}`"
                      target="_blank"
                    >
                      {{ itemDetails.name + ' ' + $tg.resume }}
                    </a>
                    <span v-else>{{ $tg.noData }}</span>
                  </span>
                </div>

                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $tg.createdOn }}</span>
                  <span class="card-info-value">{{ itemDetails.createdOnUtc | ToLocalTime | FormatDateTime }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $tg.updatedOn }}</span>
                  <span class="card-info-value">{{ itemDetails.updatedOnUtc | ToLocalTime | FormatDateTime }}</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-info">
        <div class="card-info__content">
          <h2 class="card-info__header">
            {{ $tg.skills }}
          </h2>
          <div class="break-word">
            <span class="as-pre">{{ itemDetails.skills }}</span>
          </div>

          <div class="break-word">
            <h3 class="r-desc__subheader"> - {{ $tg.description }}</h3>
            <span class="as-pre">{{ itemDetails.description }}</span>
            <p v-if="itemDetails.applicant">
              <template>
                <h3 class="r-desc__subheader"> - {{ t.aboutApplicant }}</h3>
                <span class="as-pre">{{ itemDetails.applicant.description }}</span>
              </template>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./resume-details.ts"></script>
<style lang="scss" src="./resume-details.scss"></style>
