<template>
  <div :class="{'has-error': hasError}">
    <!-- <div> -->
    <slot></slot>
    <div v-if="hasError && firstError" class="error-message">{{ firstError }}</div>
  </div>
</template>

<script lang="ts" src="./validation-wrapper.ts"></script>
<style lang="scss" src="./validation-wrapper.scss"></style>
