<template>
  <div class="edit-preferred-address">
    <div class="card">
      <div class="card-header">
        <back-link to="MyPreferredAddresses"></back-link>
        {{ header }}
      </div>
      <form
        class="card-content"
        @submit.prevent="validateAndApply()"
      >

        <field
          :label="t.radiusInKilometersLabel"
          :vs="$v.formModel.radiusInKilometers"
        >
          <number-input
            :min="0"
            :max="$consts.validations.maxRadiusInKm"
            v-model="formModel.radiusInKilometers"
            :placeholder="t.radiusInKilometersPh"
          ></number-input>
        </field>

        <address-fields
          v-model="formModel.address"
          :vs="$v.formModel.address"
          :disabled="isEditMode"
        ></address-fields>

        <m-button
          ref="submitBtn"
          class="md-raised md-primary"
          type="submit"
        >{{ $tg.save }}</m-button>
      </form>
    </div>
  </div>

</template>

<script lang="ts" src="./edit-preferred-address.ts"></script>
<style lang="scss" src="./edit-preferred-address.scss"></style>
