.tabs__navigation {
    background-color: #303f9f;
    width: 100%;
    padding-left: 16px;
}

.tabs__navigation-link-wrap {
    display: inline-block;
}

.tabs__navigation-link {
    // min-height: 64px;
    line-height: 44px;
    font-size: 13px;
    box-sizing: border-box;
    padding: 4px 24px 4px;
    text-transform: uppercase;
    color: #b8bde0;
    display: inline-block;
    .router-link-exact-active & {
        color: white;
        border-bottom: 4px solid white;
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 48em) {
    .tabs__navigation-link-wrap,
    .tabs__navigation-link {
        display: block;
        text-align: center;
    }
    .tabs__navigation {
        padding-left: 0;
    }
    .tabs__navigation-link {
        line-height: 36px;
        padding: 4px 10px 4px;
        font-size: 14px;
    }
    .tabs__navigation-link {
        .router-link-exact-active & {
            border-bottom: 0;
            padding-bottom: 4px;
        }
    }
}