<template>
  <div class="tabs__navigation">
    <router-link v-for="(tab, index) in tabs" :key="index" class="tabs__navigation-link-wrap" :to="tab.to">
      <span class="tabs__navigation-link">
        {{tab.caption}}
      </span>
    </router-link>
  </div>
</template>

<script lang="ts" src="./tabs.ts"></script>
<style lang="scss" src="./tabs.scss"></style>
