.cp__swiper {
    margin-bottom: 30px;
}

.cp__swiper-slide {
    position: relative;
}

.cp__filial-name-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(transparent, rgba(0, 0, 0, 0.55)) repeat scroll 0 0;
    min-height: 68px;
    padding: 15px;
    box-sizing: border-box;
}

.cp__filial-name {
    color: #ffffff;
    font-size: 16px;
}

.cp__photo-wrap {
    margin-bottom: 20px;
}