<template>
  <div class="company-photos">
    <div v-if="companyPhotos && companyPhotos.length">
      <swiper ref="swiper" :options="swiperOption" class="cp__swiper">
        <swiper-slide v-for="(photo, index) in companyPhotos" :key="index">
          <img class="swiper__company-photo" :src="photo.photoUri" :alt="`Company photo ${index + 1}`" @load="onLoadedImage()">
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
        <button class="swiper-button-prev" slot="button-prev"></button>
        <button class="swiper-button-next" slot="button-next"></button>
      </swiper>

      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 cp__photo-wrap" v-for="(photo, index) in companyPhotos" :key="index">
          <md-card>
            <md-card-media class="relative">
              <img :src="photo.photoUri" :alt="`Company photo ${index + 1}`">
              <div v-if="photo.companyFilial" class="cp__filial-name-wrap">
                <span class="cp__filial-name">{{ $t.company.filialLabel + ': ' + photo.companyFilial.name }}</span>
              </div>
            </md-card-media>
          </md-card>
        </div>
      </div>
    </div>

    <h2 v-else class="empty-state-header">
      {{ $tg.noPhotos }}
    </h2>
  </div>
</template>

<script lang="ts" src="./company-photos.ts"></script>
<style lang="scss" src="./company-photos.scss"></style>
