.vacancy-datails__address-icon {
    // margin-left: 3px;
    color: #959cc4 !important;
}

.v-desc__subheader {
    margin: 15px 0;
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.vac__company-name {
    color: #ffffff;
    font-weight: 300;
    margin-right: 10px;
}