<template>
  <div class="vacancy-datails">

    <div class="item-details__header-wrap">
      <h1 class="item-details__right-header">{{ $tg.vacancy }}</h1>
      <h2 class="item-details__header">
        {{ itemDetails.name }}
        <!-- <span class="vacancy-item__name-salary" v-if="itemDetails.salaryPerMonth">{{
           vacancy.salaryPerMonth + ' ' + vacancy.currency.name }}</span> -->
      </h2>
      <router-link
        class="d-ib"
        v-if="itemDetails.company"
        :to="{ name: 'CompanyDetails', params: { companyId: itemDetails.company.id } }"
      >
        <span class="i-det__subheader vac__company-name">{{ itemDetails.company.name }}</span>
      </router-link>
      <span class="i-det__subheader">
        <md-icon class="ci-list__address-icon vacancy-datails__address-icon">location_on</md-icon>
        <span
          class="ci-list__formatted-address"
          v-if="itemDetails.companyFilial"
        >
          {{ itemDetails.companyFilial.address.formattedAddress }}
        </span>
      </span>
    </div>

    <div class="item-details__content">

      <div
        class="card-info"
        v-if="itemDetails.id && !hasSentResume"
      >
        <m-button
          class="md-ripple md-raised md-primary"
          @click="onClickSendResume"
        >
          {{ $tg.sendResume }}
        </m-button>
        <SendResume
          class="card-info__content"
          v-if="isOpenedSendingResume && itemDetails.id"
          :vacancyId="itemDetails.id"
          @sent="onSentResume"
        />
      </div>

      <div class="card-info">
        <div class="card-info__content">
          <h2 class="card-info__header col-xs-12 col-sm-8">
            {{ $tg.mainInfo }}
          </h2>

          <div class="row">
            <template v-if="itemDetails.company">
              <div class="col-xs-12 col-sm-6">
                <span class="card-info-label">{{ $t.company.contactEmailLabel }}</span>
                <span class="card-info-value">{{ itemDetails.company.contactEmail }}</span>
              </div>
              <div class="col-xs-12 col-sm-6">
                <span class="card-info-label">{{ $t.company.contactPhoneLabel }}</span>
                <span class="card-info-value">{{ itemDetails.company.contactPhone }}</span>
              </div>
            </template>

            <div class="col-xs-12 col-sm-6">
              <span class="card-info-label">{{ $t.vacancies.edit.salaryPerMonthLabel }}</span>
              <span class="card-info-value">{{ itemDetails.salaryPerMonth }} {{ itemDetails.currency | Safe('name') }}</span>
            </div>
            <div class="col-xs-12 col-sm-6">
              <span class="card-info-label">{{ $tg.professionLabel }}</span>
              <span class="card-info-value">{{ itemDetails.profession | Safe('name') }}</span>
            </div>
            <div class="col-xs-12 col-sm-12">
              <span class="card-info-label">{{ $t.company.employmentTypeLabel }}</span>
              <span class="card-info-value">{{ itemDetails.employmentType | Safe('name') }}</span>
            </div>

            <div class="col-xs-12 col-sm-6">
              <span class="card-info-label">{{ $tg.createdOn }}</span>
              <span class="card-info-value">{{ itemDetails.createdOnUtc | ToLocalTime | FormatDateTime }}</span>
            </div>
            <div class="col-xs-12 col-sm-6">
              <span class="card-info-label">{{ $tg.updatedOn }}</span>
              <span class="card-info-value">{{ itemDetails.updatedOnUtc | ToLocalTime | FormatDateTime }}</span>
            </div>

          </div>
        </div>
      </div>

      <div class="card-info">
        <div class="card-info__content">
          <h2 class="card-info__header">
            {{ $tg.description }}
          </h2>
          <div class="break-word">
            <span class="as-pre">{{ itemDetails.description }}</span>
          </div>

          <div class="break-word">
            <h3 class="v-desc__subheader"> - {{ $t.vacancies.edit.requirementsLabel }}</h3>
            <span class="as-pre">{{ itemDetails.requirements }}</span>
          </div>

          <div class="break-word">
            <h3 class="v-desc__subheader"> - {{ $t.vacancies.edit.dutiesLabel }}</h3>
            <span class="as-pre">{{ itemDetails.duties }}</span>
          </div>

          <div class="break-word">
            <h3 class="v-desc__subheader"> - {{ $t.vacancies.edit.workingConditionsLabel }}</h3>
            <span class="as-pre">{{ itemDetails.workingConditions }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./vacancy-details.ts"></script>
<style lang="scss" src="./vacancy-details.scss"></style>
