<template>
  <div class="company-filials">

    <div class="card-info without-margin" v-for="filial in companyFilials" :key="filial.id">
      <div class="card-info__content">
        <h2 class="card-info__header ci-list__name-header">{{ filial.name + (filial.isMain ? ` (${$tg.main})` : '') }}</h2>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <md-icon class="ci-list__address-icon">location_on</md-icon>
            <span class="ci-list__formatted-address">
              {{ filial.address.formattedAddress }}
            </span>
          </div>
          <div class="col-xs-12 col-sm-4">
            <span class="ci-list__info-label">{{ $t.company.employeeCountLabel }}:</span>
            <span class="ci-list__info-value">{{ filial.employeeCount || $tg.noData }}</span>
          </div>
          <div class="col-xs-12 col-sm-4">
            <span class="ci-list__info-label">{{ $tg.vacanciesCount }}:</span>
            <span class="ci-list__info-value">{{ filial.vacanciesCount }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="cf__map-wrap card">
      <GoogleMapWrap ref="mapComponent"/>
      <!-- <div class="map-container" ref="map"></div> -->
    </div>

  </div>
</template>

<script lang="ts" src="./company-filials.ts"></script>
<style lang="scss" src="./company-filials.scss"></style>
