<template>
  <div class="pagination">

    <ul class="pagination-list ">
      <li>
        <router-link event=""
          replace
          :to="getQuery(internalPageNumber - 1)"
          class="md-button pl__button pl__button--navigation"
          @click.native="selectPrevPage()"
        >
          <md-icon>chevron_left</md-icon>
        </router-link>
      </li>

      <template v-if="totalItemsCount > 0">

        <template v-if="visiblePageNumbers[0] != 1">
          <li>
            <router-link event=""
              replace
              :to="getQuery(1)"
              class="md-button pl__button pl__button--navigation"
              @click.native="selectFistPage()"
            >
              1
            </router-link>
          </li>
          <template v-if="visiblePageNumbers[0] != 2">
            <li v-if="visiblePageNumbers[0] != 3">
              <m-button class="pl__button pl__button--navigation">
                <md-icon>more_horiz</md-icon>
              </m-button>
            </li>
            <li v-else>
              <router-link event=""
                replace
                :to="getQuery(2)"
                class="md-button pl__button pl__button--navigation"
                @click.native="selectPageNumber(2)"
              >
                2
              </router-link>
            </li>
          </template>
        </template>

        <li
          v-for="pageNum in visiblePageNumbers"
          :key="pageNum"
          :class="{ 'pl__active-item': pageNum === internalPageNumber }"
          class="pl__item--iterated"
        >
          <router-link event=""
            replace
            :to="getQuery(pageNum)"
            class="md-button pl__button"
            @click.native="selectPageNumber(pageNum)"
          >
            {{ pageNum }}
          </router-link>
        </li>

        <template v-if="visiblePageNumbers[visiblePageNumbers.length - 1] != totalPagesCount">

          <template v-if="visiblePageNumbers[visiblePageNumbers.length - 1] != totalPagesCount - 1">
            <li v-if="visiblePageNumbers[visiblePageNumbers.length - 1] != totalPagesCount - 2">
              <m-button class="pl__button pl__button--navigation">
                <md-icon>more_horiz</md-icon>
              </m-button>
            </li>
            <li v-else>
              <router-link event=""
                replace
                :to="getQuery(totalPagesCount - 1)"
                class="md-button pl__button pl__button--navigation"
                @click.native="selectPageNumber(totalPagesCount - 1)"
              >
                {{ totalPagesCount - 1 }}
              </router-link>
            </li>
          </template>

          <li>
            <router-link event=""
              replace
              :to="getQuery(totalPagesCount)"
              class="md-button pl__button pl__button--navigation"
              @click.native="selectLastPage()"
            >
              {{ totalPagesCount }}
            </router-link>
          </li>
        </template>
      </template>
      <template v-else>
        <li>
          <m-button class="pl__button pl__button--navigation">
            <md-icon>more_horiz</md-icon>
          </m-button>
        </li>
      </template>

      <li>
        <router-link event=""
          replace
          :to="getQuery(internalPageNumber + 1)"
          class="md-button pl__button pl__button--navigation"
          @click.native="selectNextPage()"
        >
          <md-icon>chevron_right</md-icon>
        </router-link>
      </li>
    </ul>

    <div class="right">
      <span>{{ $t.pagination.itemsPerPage }}: </span>
      <Multiselect
        :disabled="totalItemsCount === 0"
        :options="pageSizesOptions"
        @select="onSelectPageSizes"
        :canDeselect="false"
        :value="internalItemsPerPage"
        placeholder=" "
        class="pagination-page-sizes-mult"
      />
    </div>
  </div>
</template>

<script lang="ts" src="./pagination.ts"></script>
<style lang="scss" src="./pagination.scss"></style>
