@import '~assets/css/all-utils.scss';
.pagination {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.pagination-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    // width: 100%;
    >li {
        display: inline-block;
        color: #444;
        border-radius: 2px;
        &.pl__active-item {
            background-color: #ee6e73;
            color: white;
            .pl__button {
                color: white;
            }
        }
        &.pl__item--iterated {
            margin: 0 3px;
        }
    }
    .pl__button {
        min-width: 30px;
        // min-height: 30px;
        &.pl__button--navigation {
            padding: 0;
        }
    }
}

.pagination-page-sizes-mult {
    width: 60px!important;
    display: inline-block!important;
    .multiselect__tags,
    .multiselect__input {
        background-color: transparent;
    }
}