<template>
  <div class="search-vacancies-by-addresses">
    <SearchByAddresses ref="sba" />
  </div>
</template>

<script lang="ts" src="./search-vacancy-by-addresses.tsx"></script>
<style lang="scss"></style>
