<template>
  <div class="company-vacancies">

    <div v-if="companyVacancies && companyVacancies.length">
      <div class="card-info without-margin" v-for="vacancy in companyVacancies" :key="vacancy.id">
        <div class="card-info__content">
          <router-link class="d-ib" :to="{ name: 'VacancyDetails', params: { vacancyId: vacancy.id } }">
            <h2 class="card-info__header ci-list__name-header">
              {{ vacancy.name }}
              <span class="c-vac__salary" v-if="vacancy.salaryPerMonth">{{ vacancy.salaryPerMonth + ' ' + vacancy.currency.name }}</span>
            </h2>
          </router-link>

          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <md-icon class="ci-list__address-icon">location_on</md-icon>
              <span class="ci-list__formatted-address">
                {{ vacancy.companyFilial.address.formattedAddress }}
              </span>
            </div>
            <div class="col-xs-12 col-sm-4">
              <span class="ci-list__info-label">{{ $tg.professionLabel }}:</span>
              <span class="ci-list__info-value">{{ vacancy.profession | Safe('name') }}</span>
            </div>
            <div class="col-xs-12 col-sm-4">
              <span class="ci-list__info-label">{{ $t.company.employmentTypeLabel }}:</span>
              <span class="ci-list__info-value">{{ vacancy.employmentType | Safe('name') }}</span>
            </div>
          </div>
          <div class="c-vac__description">
            {{ vacancy.description }}
          </div>
        </div>
      </div>
      
      <vacancies-on-map :companyVacancies="companyVacancies"></vacancies-on-map>
      
    </div>
    <h2 v-else class="empty-state-header">
      {{ $tg.noVacancies }}
    </h2>
  </div>
</template>

<script lang="ts" src="./company-vacancies.ts"></script>
<style lang="scss" src="./company-vacancies.scss"></style>
