.salary-per-month-value {
    color: black;
}

.my-resume-file-wrap {
    min-height: 30px;
}

.my-resume-file__link {
    padding-top: 3px;
    display: inline-block;
}

.my-resume-file__delete-btn {
    padding: 0!important;
    height: 25px!important;
    width: 25px!important;
    min-width: 25px!important;
    min-height: 25px!important;
}

.my-resume-file__delete-icon {
    font-size: 13px!important;
}