<template>
  <div class="applicant-resumes">
    <div class="card">
      <div class="card-header with-actions">{{ $t.myProfile.menuItems.myApplicant.myResumes }}
        <div class="card-header-actions">
          <icon-link to="AddResume">add</icon-link>
        </div>
      </div>

      <div>

        <input
          ref="uploadResumeFileInput"
          class="d-none"
          accept=".doc, .docx, .pdf"
          type="file"
          @change="onFileChanged($event.target.files[0])"
        >

        <div
          class="list-item"
          v-for="(resume, index) in items"
          :key="resume.id"
          :class="{ 'deactivated': resume.isDisabled }"
        >
          <div class="list-item__content">
            <router-link
              :to="{ name: 'ResumeDetails', params: { resumeId: resume.id } }"
              class="d-ib"
            >
              <div class="li__header">
                {{ resume.name }}
                <span
                  v-if="resume.salaryPerMonth != null"
                  class="salary-per-month-value"
                >
                  {{ resume.salaryPerMonth }} {{ resume.currency | Safe('name') }}
                </span>
              </div>
            </router-link>

            <div class="list-values">
              <div class="list-value">
                <span class="list-value__caption">{{ $tg.professionLabel }}:</span> {{ resume.profession | Safe('name') }}
              </div>
              <div class="list-value">
                <span class="list-value__caption">{{ $t.resumes.edit.descriptionLabel }}:</span> {{ resume.description }}
              </div>
              <div class="list-value">
                <span class="list-value__caption">{{ $t.resumes.edit.skillsLabel }}:</span> {{ resume.skills }}
              </div>
              <div
                class="list-value my-resume-file-wrap"
                v-if="resume.resumeFileUri"
              >
                <a
                  rel="nofollow noopener"
                  :href="resume.resumeFileUri"
                  :download="`${resume.name} ${$tg.resume}`"
                  class="my-resume-file__link"
                  target="_blank"
                >{{ $tg.resumeFile }}</a>
                <m-button
                  :ref="`deleteResumeFile${index}`"
                  class="md-icon-button my-resume-file__delete-btn"
                  @click="deleteResumeFile(resume, index)"
                >
                  <md-icon class="my-resume-file__delete-icon">close</md-icon>
                </m-button>
              </div>
            </div>

          </div>

          <div class="list-item__actions">
            <router-link
              :to="{ name: 'EditResume', params: { resumeId: resume.id } }"
              class="md-button md-icon-button"
            >
              <md-icon class="md-primary">edit</md-icon>
            </router-link>

            <md-menu
              md-size="auto"
              md-align-trigger
              md-direction="top-end"
            >
              <md-button md-menu-trigger>{{ $tg.actions }}</md-button>
              <md-menu-content>
                <md-menu-item v-if="!resume.isDisabled">
                  <m-button
                    :ref="`uploadResumeFile${index}`"
                    @click="openUploadFileForResume(resume, index)"
                  >
                    {{ $tg.uploadFile }}
                  </m-button>
                </md-menu-item>
                <md-menu-item>
                  <m-button
                    :ref="activateBtnRefName"
                    v-if="resume.isDisabled"
                    @click="showActivateItemConfirmation(resume, index)"
                  >
                    {{ $tg.activate }}
                  </m-button>
                  <m-button
                    :ref="deactivateBtnRefName"
                    v-else
                    @click="showDeactivateItemConfirmation(resume, index)"
                  >
                    {{ $tg.deactivate }}
                  </m-button>
                </md-menu-item>
                <md-menu-item>
                  <m-button
                    :ref="deleteBtnRefName"
                    @click="showDeleteItemConfirmation(resume, index)"
                  >
                    {{ $tg.delete }}
                  </m-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts" src="./my-applicant-resumes.ts"></script>
<style lang="scss" src="./my-applicant-resumes.scss"></style>
