<template>
  <div>
    <div
      v-show="requestsCount > 0"
      class="request-loader-wrap"
    >
      <md-progress-bar md-mode="indeterminate"></md-progress-bar>
    </div>

    <app-header></app-header>

    <router-view class="main-page-view clearfix"></router-view>

    <!-- <transition name="router-view-transition" mode="out-in">
      <router-view class="main-page-view clearfix"></router-view>
    </transition> -->

    <snackbar-manager ref="snackbarManager"></snackbar-manager>
    <confirmation-dialog-manager ref="confirmationDialogManager"></confirmation-dialog-manager>

    <component
      v-if="mountedComponent.component"
      :is="mountedComponent.component"
      :props="mountedComponent.props"
      v-on="mountedComponent.on"
    ></component>
  </div>
</template>

<script lang="ts" src="./App.ts"></script>
<style lang="scss" src="./App.scss"></style>
