@import '~assets/css/vue-material.scss';
@import '~assets/css/all-utils.scss';
@import '~assets/css/styles.scss';
@import '~assets/css/flexbox-grid.scss';
@import '~assets/css/flexboxgrid-adaptive.scss';
@import '~assets/css/inputs.scss';
@import '~assets/css/helpers.scss';
@import '~assets/css/components.scss';
@import '~assets/css/buttons.scss';

@import '~vue-material/dist/theme/default.css';
@import '~swiper/dist/css/swiper.css';
@import '~keen-ui/dist/keen-ui.css';

// import 'vue-material/dist/theme/default.css';
// import 'swiper/dist/css/swiper.css';
// import '';

.request-loader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $request-loader-z-index;
}

.main-page-view {
    margin-top: $header-height;
}

// .router-view-transition-enter-active,
// .router-view-transition-leave-active {
//     transition: all .5s ease;
//     transform: rotateZ(360deg);
// }

// .router-view-transition-enter,
// .router-view-transition-leave-active {
//     // opacity: 0;
//     // transform: scaleX(0);
//     transform: rotateZ(180deg);
// }