<template>
  <div class="search-by-addresses">
    <div v-if="$parent.selectedPlace">
      <m-button
        class="sba__remove-location md-accent md-raised"
        @click="$parent.removeLocation"
      >{{ $t.searchList.removeLocation }}</m-button>
    </div>
    <p class="sba__tooltip sba__tooltip-main">{{ $parent.mainText }}</p>
    <p class="sba__tooltip">{{ $t.searchList.messageAboutMoreInfo }}</p>
    <p class="sba__tooltip">{{ $t.searchList.messageAboutDrag }}</p>

    <div class="sba-controls">

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <field :label="$tg.radiusInKilometers">
            <number-input
              v-model="$parent.radiusInKilometers"
              :lazyValidate="false"
              :min="0"
              :max="$consts.validations.maxRadiusInKm"
              @input="$parent.onRadiusInput"
              :placeholder="$tg.enterNumber"
            />
          </field>
          <div>
            <!-- todo: min and max values -->
            <!-- <ui-slider :step="1" show-marker v-model="$parent.radiusInKilometers" @input="$parent.onRadiusInput"></ui-slider> -->
            <MSlider
              v-model="$parent.radiusInKilometers"
              @input="$parent.onRadiusInput"
              :min="0.1"
              :max="50"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- todo, temp -->
    <!-- <m-button class="md-primary md-raised" @click="$parent.$emit('sbm')">Filter</m-button> -->
    <div>
      <!-- <div class="map-container" ref="map"></div> -->
      <GoogleMapWrap ref="mapComponent" />
    </div>

  </div>
</template>
<style lang="scss">
.sba__remove-location {
  margin-top: 25px;
  margin-bottom: 10px;
}

.sba__tooltip {
  color: rgb(161, 161, 161);
  font-size: 13px;
  margin: 5px 0;
}

.sba__tooltip-main {
  color: black;
}

.sba-controls {
  margin-bottom: 10px;
}
</style>
