<template>
  <div>
    <div v-if="step===0">
      <field :label="$tg.emailLabel" :vs="$v.formModel.email">
        <m-input type="email" :placeholder="$tg.emailPh" v-model="formModel.email" />
      </field>
    </div>
    <div v-else>
      {{ t.successMessage }}
    </div>
  </div>
</template>

<script lang="ts" src="./forgot-password.ts"></script>
<style lang="scss" src="./forgot-password.scss"></style>
