<template>
  <div class="card">

    <h2 class="card-header">{{ t.header }}</h2>

    <div class="card-content">

    </div>

  </div>
</template>

<script lang="ts" src="./my-profile-page.ts"></script>
<style lang="scss" src="./my-profile-page.scss"></style>
