<template>
  <input type="text" class="fc" ref="input" v-model="inputValue" @keydown.enter="onEnter" @input="onInput($event.target)" @blur="onBlur($event)">
</template>

<script lang="ts" src="./number-input.ts"></script>
<style lang="scss" src="./number-input.scss"></style>
