@import '~assets/css/all-utils.scss';
.modal-mask {
    position: fixed;
    z-index: $modal-z-index;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .62);
    // display: table;
    @include transition(opacity .3s ease);
}

.modal-wrapper {
    height: 100%;
    // overflow: auto;
    // display: table-cell;
    // vertical-align: middle;
}

.modal-container {
    width: 95%;
    max-width: 600px;
    // max-height: 90%;
    box-sizing: border-box;
    position: relative;
    // overflow: visible;
    overflow: auto;
    max-height: 90%;
    padding: 25px 25px 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    @include transition(all .3s ease);
    font-family: Helvetica, Arial, sans-serif;
    .form-control-label {
        margin-top: 12px;
        margin-bottom: 8px;
    }
}

.modal-footer__btns {
    .md-button {
        margin: 0;
        min-width: 65px;
    }
}

.close-modal {
    position: absolute;
    padding: 0;
    right: 22px;
    top: 22px;
}

.modal-header h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.modal-body {
    margin: 20px 0 15px;
}

.modal-default-button {
    float: right;
}

.modal-footer {
    margin-bottom: 10px;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}