<template>
  <transition name="modal">
    <div class="modal-mask" @click="onModalMaskClick($event)">
      <div class="modal-wrapper grid grid--center" ref="modalWrapper">
        <div class="modal-container" role="dialog" ref="modalContainer" @blur.capture="onModalBlur" tabindex="0">

          <form @submit.prevent="ok">
            <div class="modal-header">
              <slot name="header">
                <h3>{{ header }}</h3>
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body"></slot>
            </div>

            <div class="modal-footer clearfix">
              <slot name="footer">
                <div class="right modal-footer__btns">
                  <m-button class="md-primary" type="button" @click="close">{{ getCancelCaption }}</m-button>
                  <m-button class="md-primary" :loadingPromise="loadingPromise" type="submit">{{ getOkCaption }}</m-button>
                </div>
              </slot>
            </div>
          </form>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts" src="./Modal.ts"></script>
<style lang="scss" src="./Modal.scss"></style>
