@import '~assets/css/all-utils.scss';
.user-location-block {
    padding: 30px 0 20px;
}

// .us__header{
//     color: white;
//     text-align: center;
//     font-weight: 400;
//     font-size: 40px;
// }

.ul__header{
    font-weight: 300;
    margin: 10px 0 20px;
}

.ul__link-count {
    background-color: #2167d0d5;
    width: fit-content;
    transform: scale(0.8);
    margin-top: -2px !important;
    margin-left: -2px !important;
    color: white !important;
    font-size: 18px !important;
}

.ul__link-center {
    margin: 0 20px !important;
}

.ul__link-count-loading {
    width: 40px!important;
}

.nec__title{
    font-weight: 300;
    margin-top: 30px;
    display: block;
    font-size: 17px;
    color: #bcc1ea;
}