<template>
  <div class="user-location">

    <div class="user-location-block xs-small-padd">

      <strong class="nec__title">{{ t.findJobNearTheHouse }}</strong>
      <h2 class="ul__header">
        {{ t.header(nearbyEntitiesCounts ? nearbyEntitiesCounts.radiusInKm : '1.5') }}
      </h2>
      <div>

        <router-link
          class="md-button md-raised"
          :to="{ name: 'VacanciesList' }"
        >
          <span>
            <m-button
              :isLoading="!nearbyEntitiesCounts"
              class="md-icon-button ul__link-count"
              :class="{ 'ul__link-count-loading': !nearbyEntitiesCounts }"
            >
              {{ nearbyEntitiesCounts && nearbyEntitiesCounts.vacanciesCount }}
            </m-button>
          </span>
          {{ t.vacancies(nearbyEntitiesCounts && nearbyEntitiesCounts.vacanciesCount) }}
        </router-link>

        <router-link
          class="md-button md-raised ul__link-center"
          :to="{ name: 'CompaniesList' }"
        >
          <span>
            <m-button
              :isLoading="!nearbyEntitiesCounts"
              class="md-icon-button ul__link-count"
              :class="{ 'ul__link-count-loading': !nearbyEntitiesCounts }"
            >
              {{ nearbyEntitiesCounts && nearbyEntitiesCounts.companiesCount }}
            </m-button>
          </span>
          {{ t.companies(nearbyEntitiesCounts && nearbyEntitiesCounts.companiesCount) }}
        </router-link>

        <router-link
          class="md-button md-raised"
          :to="{ name: 'ResumesList' }"
        >
          <span>
            <m-button
              :isLoading="!nearbyEntitiesCounts"
              class="md-icon-button ul__link-count"
              :class="{ 'ul__link-count-loading': !nearbyEntitiesCounts }"
            >
              {{ nearbyEntitiesCounts && nearbyEntitiesCounts.resumesCount }}
            </m-button>
          </span>
          {{ t.applicants(nearbyEntitiesCounts && nearbyEntitiesCounts.resumesCount) }}
        </router-link>
      </div>
    </div>
  </div>

</template>

<script lang="ts" src="./nearby-entities-counts.ts"></script>
<style lang="scss" src="./nearby-entities-counts.scss"></style>
