<template>
  <div class="edit-profile">
    <div class="card">
      <div class="company-main-photo-wrap">
        <img class="company-main-photo" v-if="formModel.mainPhotoUri" :src="formModel.mainPhotoUri" alt="My company main photo">
        <div v-else class="company-no-photo">{{ t.noPhoto }}</div>
        <div class="change-company-photo">
          <m-button class="md-fab" v-if="!formModel.mainPhotoUri" @click="$refs.updateImageInput.click()">
            <md-icon>add</md-icon>
          </m-button>
          <m-button class="md-fab" v-else @click="$refs.updateImageInput.click()">
            <md-icon>edit</md-icon>
          </m-button>
          <m-button class="md-fab md-primary" ref="saveCompanyPhotoBtn" v-if="hasMainPhotoUriChanged" @click="saveCompanyMainPhoto()">
            <md-icon>done</md-icon>
          </m-button>
          <input ref="updateImageInput" class="d-none" accept="image/*" type="file" @change="onFileChanged($event.target.files[0])">
        </div>
      </div>

      <div class="card-content">
        <form @submit.prevent="validateAndSave()">

          <field :label="$tg.nameLabel" :vs="$v.formModel.name">
            <m-input :placeholder="$tg.namePh" readonly :value="formModel.name" />
          </field>
          <field :label="t.websiteLabel" :vs="$v.formModel.websiteUrl">
            <m-input class="fc" :placeholder="t.websitePh" v-model="formModel.websiteUrl" />
          </field>

          <field :label="$t.company.contactEmailLabel" :vs="$v.formModel.contactEmail">
            <m-input type="email" :placeholder="$t.company.contactEmailPh" v-model="formModel.contactEmail" />
          </field>
          <field :label="$t.company.contactPhoneLabel" :vs="$v.formModel.contactPhone">
            <m-input type="tel" :placeholder="$t.company.contactPhonePh" v-model="formModel.contactPhone" />
          </field>

          <field :label="$t.company.employeeCountLabel" :vs="$v.formModel.employeeCount">
            <number-input :placeholder="$t.company.employeeCountPh" :min="1" isInt v-model="formModel.employeeCount"></number-input>
          </field>
          <field :label="$t.company.industryLabel" :vs="$v.formModel.industry">
            <industry-multiselect v-model="formModel.industry"></industry-multiselect>
          </field>

          <field :label="t.descriptionLabel" :vs="$v.formModel.description">
            <textarea v-model="formModel.description"></textarea>
          </field>

          <m-button ref="submitBtn" class="md-raised md-primary" type="submit">{{ $tg.save }}</m-button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./edit-company-profile.ts"></script>
<style lang="scss" src="./edit-company-profile.scss"></style>
