<template>
  <div>
    <field :label="$tg.emailLabel" :vs="$v.formModel.email">
      <m-input type="email" :placeholder="$tg.emailPh" v-model="formModel.email" />
    </field>

    <field :label="$tg.passwordLabel" :vs="$v.formModel.password">
      <m-input type="password" :placeholder="$tg.passwordPh" v-model="formModel.password" />
    </field>
  </div>
</template>

<script lang="ts" src="./login.ts"></script>
<style lang="scss" src="./login.scss"></style>
