<template>
  <div class="company-details">

    <div class="item-details__header-wrap">
      <h1 class="item-details__right-header">{{ $tg.company }}</h1>
      <h2 class="item-details__header">
        <a
          rel="nofollow noopener"
          v-if="itemDetails.websiteUrl"
          :href="itemDetails.websiteUrl"
          target="_blank"
          class="c-white"
        >{{ itemDetails.name }}</a>
        <span v-else>{{ itemDetails.name }}</span>
      </h2>

    </div>

    <tabs :tabs="tabs"></tabs>

    <div class="item-details__content">
      <keep-alive>
        <div v-if="$route.name === 'CompanyDetails'">

          <div
            class="card-info align-center"
            v-if="itemDetails.mainPhotoUri"
          >
            <image-wrap
              :src="itemDetails.mainPhotoUri"
              imgClass="cd__main-photo"
              :alt="`Company '${itemDetails.name}' image`"
            />
          </div>

          <div class="card-info">
            <div class="card-info__content">
              <h2 class="card-info__header">
                {{ $tg.mainInfo }}
              </h2>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $t.company.contactEmailLabel }}</span>
                  <span class="card-info-value">{{ itemDetails.contactEmail }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $t.company.contactPhoneLabel }}</span>
                  <span class="card-info-value">{{ itemDetails.contactPhone }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $t.company.employeeCountLabel }}</span>
                  <span class="card-info-value">{{ itemDetails.employeeCount }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <span class="card-info-label">{{ $t.company.websiteLabel }}</span>
                  <span
                    class="card-info-value"
                    v-if="itemDetails.websiteUrl"
                  >
                    <a
                      rel="nofollow noopener"
                      class="d-ib"
                      :href="itemDetails.websiteUrl"
                      target="_blank"
                    >
                      {{ itemDetails.websiteUrl }}
                    </a>
                  </span>
                  <span
                    v-else
                    class="card-info-value"
                  ></span>
                </div>
                <div class="col-xs-12 col-sm-12">
                  <span class="card-info-label">{{ $t.company.industryLabel }}</span>
                  <span class="card-info-value">{{ itemDetails.industry | Safe('name') }}</span>
                </div>

                <!-- <div class="col-xs-12 col-sm-6">
                <span class="card-info-label">{{ $tg.createdOn }}</span>
                <span class="card-info-value">{{ itemDetails.createdOnUtc | ToLocalTime | FormatDateTime }}</span>
              </div>
              <div class="col-xs-12 col-sm-6">
                <span class="card-info-label">{{ $tg.updatedOn }}</span>
                <span class="card-info-value">{{ itemDetails.updatedOnUtc | ToLocalTime | FormatDateTime }}</span>
              </div> -->

              </div>
            </div>
          </div>

          <div
            class="card-info"
            v-if="itemDetails.description"
          >
            <div class="card-info__content">
              <h2 class="card-info__header">
                {{ $tg.description }}
              </h2>
              <div class="break-word as-pre">
                {{ itemDetails.description }}
              </div>
            </div>
          </div>
        </div>
        <router-view v-else></router-view>
      </keep-alive>
    </div>
  </div>
</template>

<script lang="ts" src="./company-details.ts"></script>
<style lang="scss" src="./company-details.scss"></style>
