<template>
  <div>
    <header
      class="header grid grid--center-v grid--space-between"
      :class="$store.state.headerClass"
    >
      <div>
        <m-button
          class="md-icon-button"
          @click="toggleDrawerVisibility"
        >
          <md-icon class="header__btn-color">menu</md-icon>
        </m-button>

        <!-- <router-link :to="{ name: 'Main' }">
          <m-button class="md-title header__btn">{{ $consts.appName }}</m-button>
        </router-link> -->

        <router-link
          :to="{ name: 'Main' }"
          class="md-title header__btn header__app-name"
        >{{ $consts.appName }}</router-link>

      </div>

      <div class="grid grid--center-v">
        <Multiselect
          @select="onSelectLanguage"
          :placeholder="t.languagePh"
          :value="$store.getters.language"
          class="languages-multiselect"
          :options="$store.state.localization.languages"
          track-by="id"
          label="name"
          :canDeselect="false"
        />

        <div class="d-ib xs-hidden">
          <router-link
            :to="{ name: 'CompaniesList' }"
            class="md-title header__btn"
          >{{ $tg.companies }}</router-link>
          <router-link
            :to="{ name: 'VacanciesList' }"
            class="md-title header__btn"
          >{{ $tg.vacancies }}</router-link>
          <router-link
            :to="{ name: 'ResumesList' }"
            class="md-title header__btn sm-hidden"
            style="margin-right: 9px"
          >{{ $tg.resumes }} </router-link>
        </div>

        <div
          class="inline-block"
          v-if="isAuthenticated"
        >
          <router-link
            :to="{ name: 'MyProfile' }"
            class="header__btn"
          >{{ t.myProfile }}</router-link>
          <m-button
            @click="logout"
            class="header__btn xs-hidden h__m-l6"
          >{{ t.logout }}</m-button>
          <!-- <md-icon>exit_to_app</md-icon> -->
        </div>
        <div
          class="inline-block"
          v-else
        >
          <router-link
            :to="{ name: 'SignUp' }"
            class="xs-hidden header__btn"
          >{{ t.signUp }}</router-link>
          <m-button
            @click="openModalForLogin"
            class="header__btn h__m-l6"
          >{{ t.signIn }}</m-button>
        </div>
      </div>

      <!-- <LoginModal v-if="isOpenedModalForLogin" @close="isOpenedModalForLogin = false" /> -->
      <!-- <ContactUsModal v-if="isOpenedContactUsModal" @close="isOpenedContactUsModal = false" /> -->

    </header>
    <md-drawer
      :md-active.sync="isShowingDrawer"
      v-show="isDrawerDisplay"
      class="header__drawer"
    >
      <md-toolbar
        class="md-transparent"
        md-elevation="0"
      >
        <router-link
          :to="{ name: 'Main' }"
          class="md-title header__btn"
          @click.native="closeDrawer"
        >{{ $consts.appName }}</router-link>
      </md-toolbar>

      <md-list>
        <div class="drawer-list-item">
          <router-link
            :to="{ name: 'CompaniesList' }"
            @click.native="closeDrawer"
            class="md-button  md-title header__btn"
          >{{ $tg.companies }}</router-link>
        </div>

        <div class="drawer-list-item">
          <router-link
            :to="{ name: 'VacanciesList' }"
            @click.native="closeDrawer"
            class="md-button  md-title header__btn"
          >{{ $tg.vacancies }}</router-link>
        </div>
        <div class="drawer-list-item">
          <router-link
            :to="{ name: 'ResumesList' }"
            @click.native="closeDrawer"
            class="md-button  md-title header__btn"
          >{{ $tg.resumes }}</router-link>
        </div>

        <div class="drawer-list-item">
          <Multiselect
            @select="onSelectLanguage"
            :placeholder="t.languagePh"
            :value="$store.getters.language"
            class="languages-multiselect"
            :options="$store.state.localization.languages"
            track-by="id"
            label="name"
            :canDeselect="false"
          />
        </div>
        <template v-if="isAuthenticated">
          <div class="drawer-list-item">
            <router-link
              :to="{ name: 'MyProfile' }"
              @click.native="closeDrawer"
              class="md-button  header__btn"
            >{{ t.myProfile }}</router-link>
          </div>
          <div class="drawer-list-item">
            <m-button
              @click="logout(); closeDrawer();"
              class="header__btn"
            >{{ t.logout }}</m-button>
          </div>
        </template>
        <template v-else>
          <div class="drawer-list-item">
            <router-link
              :to="{ name: 'SignUp' }"
              @click.native="closeDrawer"
              class="md-button  header__btn"
            >{{ t.signUp }}</router-link>
          </div>
          <div class="drawer-list-item">
            <m-button
              @click="openModalForLogin(); closeDrawer();"
              class="md-button  header__btn"
            >{{ t.signIn }}</m-button>
          </div>
        </template>

        <div class="drawer-list-item">
          <m-button
            class="md-button  header__btn"
            @click="openModalForContactUs(); closeDrawer();"
          >{{ $t.contactUs.header }}</m-button>
        </div>

      </md-list>
    </md-drawer>
  </div>
</template>

<script lang="ts" src="./header.ts"></script>
<style lang="scss" src="./header.scss"></style>
