@import '~assets/css/all-utils.scss';
.header {
    // display: block;
    // background-color: white;
    // box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.24);
    // height: $header-height;
    position: fixed;
    top: 0;
    z-index: $header-z-index;
    width: 100%;
    box-sizing: border-box;
    background-color: $dark-purple-color;
    height: $header-height;
    .header__btn-color {
        color: #95a2e7!important;
    }
    .header__btn {
        color: #95a2e7!important;
        text-transform: initial;
        font-weight: 400;
        line-height: 38px;
        font-size: 14px;
        min-width: fit-content;
        display: inline-block;
        margin-right: 6px;
    }
    .header__app-name {
        font-size: 31px;
        font-weight: 500;
        margin-left: 31px;
        color: #c5cbf1!important;
        @media only screen and (max-width: 48em) {
            margin-left: 2px;
            margin-top: 1px;
            font-size: 16px;
        }
    }
    padding: 0 100px;
    @media only screen and (max-width: 70em) {
        padding: 0 8%;
    }
    @media only screen and (max-width: 62em) {
        padding: 0 5%;
    }
    @media only screen and (max-width: 48em) {
        padding: 0 1%;
    }
}



.h__m-l6 {
    margin-left: -6px!important;
}

.languages-multiselect {
    width: 85px!important;
    .multiselect__input {
        background-color: transparent;
        border: none;
        color: #95a2e7!important;
        // color: white!important;
        @include placeholder(white!important);
        text-align: right;
        font-size: 14px;
    }
    .multiselect__tags {
        background-color: transparent;
    }
    .md-field.md-theme-default:after {
        height: 0;
    }
    .md-drawer & {
        display: inline-block;
        width: 90px!important;
        .multiselect__input {
            color: black!important;
        }
    }
}

@media only screen and (max-width: 360px) {
    .languages-multiselect {
        width: 75px!important;
    }
}

.drawer-header-close {
    height: fit-content;
    width: 100%;
}

.md-overlay,
.md-drawer {
    position: fixed!important;
}

.header__drawer{
    z-index: $drawer-z-index!important;

}

.md-drawer+.md-overlay {
    z-index: $drawer-overlay-z-index;
}

.md-drawer {
    z-index: $drawer-z-index;
}

.drawer-list-item {
    // display: inline-block;
    text-align: center;
}