<template>
  <div>
    <div class="item-details__header-wrap">
      <h2 class="item-details__header">
        {{ t.header }}
      </h2>
    </div>
    <tabs :tabs="tabs"></tabs>
    <div class="item-details__content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script lang="ts" src="./sign-up.ts"></script>
<style lang="scss" src="./sign-up.scss"></style>
