<template>
  <div class="my-receiving-resumes">
    <div class="card">
      <div class="card-header">{{ $t.myProfile.menuItems.myApplicant.mySentResumes }}</div>

      <div class="card-content">
        <div class="list-item" v-for="(sentResume) in items" :key="sentResume.id">
          <div class="list-item__content">
            <div class="list-values">
              <div class="list-value">
                <span class="list-value__caption">{{ $tg.vacancy }}:</span>
                <router-link :to="{ name: 'VacancyDetails', params: { vacancyId: sentResume.vacancy ? sentResume.vacancy.id : ''} }">
                  {{ sentResume.vacancy | Safe('name') }}
                </router-link>
                <div class="right">
                  <span v-if="sentResume.status.id == 1" class="sent-resume__unviewed">{{ $t.mySentResumes.unviewedByCompany }}</span>
                  <span v-else-if="sentResume.status.id == 2" class="sent-resume__viewed">{{ $t.mySentResumes.viewedByCompany }}</span>
                  <span v-else-if="sentResume.status.id == 3" class="sent-resume__rejected">{{ $t.mySentResumes.rejectedByCompany }}</span>
                </div>
              </div>
            </div>
            <div class="sent-date">{{ sentResume.createdOnUtc | ToLocalTime | FormatDateTime }}</div>
            <div class="row list-values">
              <div class="list-value col-xs-12 col-sm-6">
                <span class="list-value__caption">{{ $tg.resume }}:</span>
                <router-link :to="{ name: 'ResumeDetails', params: { resumeId: sentResume.resume ? sentResume.resume.id : ''} }">
                  {{ sentResume.resume | Safe('name') }}
                </router-link>
              </div>

              <div class="list-value col-xs-12" v-if="sentResume.message">
                <span class="list-value__caption">{{ $tg.messageLabel }}:</span> {{ sentResume.message }}</div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</template>

<script lang="ts" src="./my-sent-resumes.ts"></script>
<style lang="scss">
.sent-resume__unviewed {
  color: rgb(187, 187, 187);
}
.sent-resume__viewed {
  color: rgb(94, 94, 94);
}
.sent-resume__rejected {
  color: rgb(255, 109, 109);
}
</style>
