<template>
  <div class="my-company-filials">
    <div class="card">
      <div class="card-header with-actions">{{ $t.myProfile.menuItems.myCompanyFilials }}
        <div class="card-header-actions">
          <icon-link to="AddFilial">add</icon-link>
        </div>
      </div>

      <div>
        <div class="list-item" v-for="(filial, index) in items" :key="filial.id" :class="{ 'deactivated': filial.isDisabled }">
          <div class="list-item__content">
            <h3 class="li__header" style="margin: 7px 0;">{{ filial.name }}</h3>

            <div class="list-values">
              <div class="list-value">
                <span class="list-value__caption">{{ $t.company.employeeCountLabel }}:</span> {{ filial.employeeCount }}</div>
              <div class="list-value">
                <span class="list-value__caption">{{ $tg.address }}:</span> {{ filial.address.formattedAddress }}</div>
            </div>

          </div>

          <div class="list-item__actions">
            <router-link :to="{ name: 'EditFilial', params: { filialId: filial.id } }" class="md-button md-icon-button">
              <md-icon class="md-primary">edit</md-icon>
            </router-link>

            <m-button :ref="activateBtnRefName" v-if="filial.isDisabled" @click="showActivateItemConfirmation(filial, index)">
              {{ $tg.activate }}
            </m-button>
            <m-button :ref="deactivateBtnRefName" v-else-if="!filial.isMain" @click="showDeactivateItemConfirmation(filial, index)">
              {{ $tg.deactivate }}
            </m-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts" src="./my-company-filials.ts"></script>
<style lang="scss" src="./my-company-filials.scss"></style>
