<template>
  <div class="change-password">
    <h2 class="card-subheader">{{ t.header }}</h2>
    <m-form @submit="validateAndApply()">
      <field :label="t.oldPasswordLabel" :vs="$v.formModel.currentPassword">
        <m-input type="password" :placeholder="t.oldPasswordPh" v-model="formModel.currentPassword" />
      </field>

      <field :label="t.newPasswordLabel" :vs="$v.formModel.newPassword">
        <m-input type="password" :placeholder="t.newPasswordPh" v-model="formModel.newPassword" />
      </field>

      <field :label="t.confirmNewPasswordLabel" :vs="$v.formModel.confirmPassword">
        <m-input type="password" :placeholder="t.confirmNewPasswordPh" v-model="formModel.confirmPassword" />
      </field>

      <m-button class="md-raised md-primary" type="submit">{{ $t.general.apply }}</m-button>
    </m-form>
  </div>
</template>

<script lang="ts" src="./change-password.ts"></script>
<style lang="scss" src="./change-password.scss"></style>
