<template>

  <div class="card-info">
    <div class="card-info__content">
      <h2 class="card-info__header">{{ t.header }}</h2>

      <p v-if="isRegistered">{{ successMessage }}</p>
      <div v-else>

        <h3 class="card-subheader">{{ t.companyInfo }}</h3>

        <form @submit.prevent="validateAndApply()">

          <field :label="$tg.name" :vs="$v.formModel.companyName">
            <input class="fc" :placeholder="$tg.namePh" v-model="formModel.companyName">
          </field>

          <field :label="t.companyIdLabel" :vs="$v.formModel.companyId">
            <m-input :placeholder="t.companyIdPh" v-model="formModel.companyId" />
            <span class="input-tip">{{ t.companyIdTip }}</span>
          </field>

          <field :label="$t.company.employeeCountLabel" :vs="$v.formModel.employeeCount">
            <number-input :placeholder="$t.company.employeeCountPh" :min="1" isInt v-model="formModel.employeeCount"></number-input>
          </field>

          <field :label="$t.company.industryLabel" :vs="$v.formModel.industry">
            <industry-multiselect v-model="formModel.industry"></industry-multiselect>
          </field>

          <!-- todo, tip about main office -->
          <address-fields :vs="$v.formModel.mainOfficeAddress" v-model="formModel.mainOfficeAddress"></address-fields>

          <h3 class="card-subheader">{{ t.accountInfo }}</h3>

          <field :label="$tg.emailLabel" :vs="$v.formModel.email">
            <input class="fc" type="email" :placeholder="$tg.emailPh" v-model="formModel.email">
          </field>

          <field :label="$tg.passwordLabel" :vs="$v.formModel.password">
            <input class="fc" type="password" :placeholder="$tg.passwordPh" v-model="formModel.password">
          </field>
          <field :label="$t.signUp.confirmPasswordLabel" :vs="$v.formModel.confirmPassword">
            <input class="fc" type="password" :placeholder="$tg.passwordPh" v-model="formModel.confirmPassword">
          </field>
          <m-button ref="submitBtn" class="md-raised md-primary" type="submit">{{ $tg.apply }}</m-button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./as-company.ts"></script>
<style lang="scss" src="./as-company.scss"></style>
