<template>
  <div class="change-email">
    <h2 class="card-subheader">{{ t.header }}</h2>
    <m-form @submit="validateAndApply()">
      <field :label="t.newEmailLabel" :vs="$v.formModel.newEmail" :vms="newEmailValidationMessages">
        <input class="fc" :placeholder="t.newEmailPh" v-model="formModel.newEmail">
      </field>
      <m-button class="md-raised md-primary" type="submit">{{ $t.general.apply }}</m-button>
    </m-form>
  </div>
</template>

<script lang="ts" src="./change-email.ts"></script>
<style lang="scss" src="./change-email.scss"></style>
