<template>
  <div class="search-resumes-by-addresses">
    <SearchByAddresses ref="sba" />
  </div>
</template>

<script lang="ts" src="./search-resumes-by-addresses.ts"></script>
<style lang="scss"></style>
