<template>
  <div class="reset-password">
    <div class="simple-stub"></div>
    <div class="profile-content">
      <div class="card">
        <div class="card-content confirm-email-card">
          <h2 class="align-center">{{ t.header }}</h2>

          <div v-if="step === 0">
            <form @submit.prevent="validateAndApply()">
              <field :label="t2.newPasswordLabel" :vs="$v.formModel.newPassword">
                <m-input type="password" :placeholder="t2.newPasswordPh" v-model="formModel.newPassword" />
              </field>

              <field :label="t2.confirmNewPasswordLabel" :vs="$v.formModel.confirmPassword">
                <m-input type="password" :placeholder="t2.confirmNewPasswordPh" v-model="formModel.confirmPassword" />
              </field>

              <m-button ref="submitBtn" class="md-raised md-primary" type="submit">{{ $tg.apply }}</m-button>
            </form>
          </div>
          <div v-else>
            <span class="btn-label">{{ t.successMessage1 }}</span>
            <m-button class="md-primary md-raised" @click="openLoginModal" ref="submitBtn">{{ t.successMessage2 }}</m-button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./reset-password.ts"></script>
<style lang="scss" src="./reset-password.scss"></style>
