@using System.Threading
@using BusinessLogic.Models.Companies
@using BusinessLogic.Models.Resumes
@using BusinessLogic.Models.Vacancies
@using Infrastructure
@using JobsMap.Web.Controllers
@using JobsMap.Web.Custom
@using JobsMap.Web.Models
@using Localization.JsLocalization
@using Localization.Texts
<!DOCTYPE html>
<html>

@{
    string title = null;
    string description = null;

    var ssrData = (SsrData) ViewBag.SsrData ?? new SsrData {};


    if (AppConstants.UseNodeSsr) {
        title = ssrData.Title;
        description = ssrData.Description;
    }
    if (title.NotNullAndEmpty()) {
        title += $" | {AppConstants.AppName} - {Texts.MainPageShortTitle}";
        //title += $" - {Texts.MainPageShortTitle}";
    }
    else {
        title = $"{AppConstants.AppName} - {Texts.MainPageTitle2}";
    }

    var seoDescription = $"{Context.GetHostWithoutWww()} - {Texts.Description}";
    if (description.NotNullAndEmpty()) {
        seoDescription = description + seoDescription;
    }
}

<head lang="@Thread.CurrentThread.CurrentCulture.Name.SubstringSafe(2)">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="~/icon.png" asp-append-version="true">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    @if (!GeneralUtils.IsDebug()) {
        <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true">
    }
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>


    <meta name="description" content="@seoDescription">
    <meta name="keywords" content="@Texts.Keywords">
    <meta name="author" content="Vladyslav Savchenko">

    <title>@title</title>

    <style>
        .dn {
            height: 1px;
            left: 0;
            position: absolute;
            top: -1000px;
            visibility: hidden;
        }
    </style>
</head>

<body>

    @{

        var entityDataFromServer = TempData[HomeController.EntityDataFromServer];
        var companyEntityDataFromServer = TempData[HomeController.CompanyEntityDataFromServer];
        //if (entityDataFromServer2 != null) { }

        var prerenderData = new
        {
            url = Context.Request.Path + Context.Request.QueryString,
            // assign data to window in client
            window = new
            {
                entityDataFromServer,
                companyEntityDataFromServer,
                langId = Thread.CurrentThread.CurrentCulture.Name.SubstringSafe(2),
                serverData = new
                {
                    ipAddress = Context.Connection.RemoteIpAddress.ToString(),
                }
            }
        };

    }

    @if (AppConstants.UseNodeSsr) {
        if (ssrData.DontUseSsr) {
            <div id="app"></div>
        }
        else {
            @*<div id="app" asp-prerender-module="wwwroot/dist/renderOnServer" asp-prerender-data="prerenderData "></div>*@
            <div id="app" asp-prerender-module="wwwroot/renderOnServer" asp-prerender-data="prerenderData "></div>
        }
    }
    else {
        <div id="app"></div>
    }

    @if (!AppConstants.UseNodeSsr || ssrData.DontUseSsr)
    {
        <script>
            window.appName = "@Html.Raw(AppConstants.AppName)";
            @{
                if (entityDataFromServer != null) {
                    @:window.entityDataFromServer = @Html.Raw(entityDataFromServer.SerializeForJavascript());
                }
                if (companyEntityDataFromServer != null) {
                    @:window.companyEntityDataFromServer = @Html.Raw(companyEntityDataFromServer.SerializeForJavascript());
                }
            }

            window.serverData = {
                ipAddress: "@Context.Connection.RemoteIpAddress.ToString()",
            };

        </script>
    }
    @RenderBody()

    @*SEO features*@
    <div class="dn">
        <h1>@Texts.MainPageTitle</h1>
        <strong>@seoDescription</strong>
        <strong>@AppConstants.AppName</strong>
        <h2>@AppConstants.AppName</h2>
        <strong>@Texts.Keywords</strong>
        @foreach (var keyWord in Texts.Keywords.Split(','))
        {
            <strong>@keyWord</strong>
        }
        @*<a href="@Url.Action("CompanyDetails", "Home")">Companies</a>*@
        <a href="@Url.Action("CompaniesList", "Home")">
            <strong>@JsLocalization.GeneralCompanies</strong>
        </a>
        <a href="@Url.Action("VacanciesList", "Home")">
            <strong>@JsLocalization.GeneralVacancies</strong>
        </a>
        <a href="@Url.Action("ResumesList", "Home")">
            <strong>@JsLocalization.GeneralResumes</strong>
        </a>
        <a href="/sign-up/company">
            <strong>@JsLocalization.SignUpAsCompanyHeader</strong>
        </a>
        <a href="/sign-up/applicant">
            <strong>@JsLocalization.SignUpAsApplicantHeader</strong>
        </a>
        <strong>Jobs and map</strong>
        <strong>@Texts.JobsAndMap</strong>
        <strong>@Context.Request.Host.ToString()</strong>

        <strong>JobsAndMap</strong>
        <strong>Jobs map</strong>
        <strong>Job map</strong>
        <strong>Work map</strong>
        <strong>Works map</strong>
        <strong>Works on map</strong>
        <strong>Work on map</strong>
        <strong>@Texts.MainPageShortTitle</strong>

        <p>
            @*TODO: seo text*@
            @Texts.SeoText
        </p>
        <strong>Job on map</strong>
        <strong>Jobs on map</strong>
        <strong>Jobs on the map</strong>
        <strong>Jobs on the maps</strong>
        <strong>Jobs on maps</strong>

        @{
            var links = new[]
            {
            new {url = "jobsandmap.com", text = "Jobs and map"},
            new {url = "jobsandmap.com.ua", text = "Jobs on the map"},
            new {url = "izzyjobs.com", text = "Work and map"}
        };
        }

        @foreach (var link in links)
        {
            <a href="http://@link.url">
                <strong>@link.text</strong>
            </a>

            <a href="http://@(link.url + Context.Request.Path)">
                <strong>@link.text</strong>
            </a>
            <a href="http://@(link.url + Context.Request.Path + Context.Request.QueryString.Value)">
                <strong>@link.text</strong>
            </a>
        }

        <strong>@DateTime.UtcNow.ToString("F")</strong>


        <p>@Texts.MainPageShortTitle</p>
    </div>


    <script src="~/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=@AppConstants.GoogleApiKey&callback=initMap" async defer></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js" async defer></script>

    @*@RenderSection("scripts", false)*@
</body>

</html>
