<template>
  <div class="my-account-settings">
    <div class="card">
      <h2 class="card-header">{{ $t.myProfile.menuItems.accountSettings }}</h2>
      <div class="card-content">
        <template v-if="$route.name === 'AccountSettings'">
          <change-email></change-email>
          <change-password></change-password>
        </template>
        <router-view v-else></router-view>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./my-account-settings.ts"></script>
<style lang="scss" src="./my-account-settings.scss"></style>
