<template>
  <div class="edit-profile">
    <div class="card">
      <div class="applicant-main-photo-wrap">
        <img class="applicant-main-photo" v-if="formModel.photoUri" :src="formModel.photoUri" alt="My photo">
        <div v-else class="applicant-no-photo">{{ t.noPhoto }}</div>
        <div class="change-applicant-photo">
          <m-button class="md-fab" v-if="!formModel.photoUri" @click="$refs.updateImageInput.click()">
            <md-icon>add</md-icon>
          </m-button>
          <m-button class="md-fab" v-else @click="$refs.updateImageInput.click()">
            <md-icon>edit</md-icon>
          </m-button>
          <m-button class="md-fab md-primary" ref="saveApplicantPhotoBtn" v-if="hasPhotoUriChanged" @click="saveApplicantPhoto()">
            <md-icon>done</md-icon>
          </m-button>
          <input ref="updateImageInput" class="d-none" accept="image/*" type="file" @change="onFileChanged($event.target.files[0])">
        </div>
      </div>

      <div class="card-content">

        <form @submit.prevent="validateAndSave">
          <field :label="$tg.fullNameLabel">
            <m-input :placeholder="$tg.fullNamePh" v-model="formModel.fullName" />
          </field>

          <field :label="$t.applicant.birthDateLabel" :vs="$v.formModel.dateOfBirth">
            <!-- <md-datepicker v-model="formModel.dateOfBirth" /> -->
            <m-datepicker v-model="formModel.dateOfBirth" />
          </field>

          <field :label="$t.applicant.contactEmailLabel" :vs="$v.formModel.contactEmail">
            <m-input type="email" :placeholder="$t.applicant.contactEmailPh" v-model="formModel.contactEmail" />
          </field>
          <field :label="$t.applicant.contactPhoneLabel" :vs="$v.formModel.contactPhone">
            <m-input type="tel" :placeholder="$t.applicant.contactPhonePh" v-model="formModel.contactPhone" />
          </field>
          <field :label="t.websiteLabel" :vs="$v.formModel.websiteUrl">
            <m-input class="fc" :placeholder="t.websitePh" v-model="formModel.websiteUrl" />
          </field>

          <field :label="t.descriptionLabel" :vs="$v.formModel.description">
            <textarea v-model="formModel.description"></textarea>
          </field>

          <m-button ref="submitBtn" class="md-raised md-primary" type="submit">{{ $tg.save }}</m-button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./edit-applicant-profile.ts"></script>
<style lang="scss" src="./edit-applicant-profile.scss"></style>
