.applicant-main-photo-wrap {
    // padding: 0 0%;
    background-color: #8895DC;
    text-align: center;
    position: relative;
    min-height: 200px;
    margin-bottom: 20px;
}

.applicant-main-photo {
    display: inline-block;
    vertical-align: top;
    // width: 100%;
    width: auto;
    height: auto;
    max-height: 300px;
}

.change-applicant-photo {
    position: absolute;
    right: 10px;
    bottom: -34px;
}

.applicant-no-photo {
    // height: 200px;
    width: 100%;
    line-height: 200px;
    color: #cfd6ff;
    font-size: 20px;
}