<template>
  <div class="edit-vacancies">
    <div class="card">
      <div class="card-header">
        <back-link to="MyCompanyVacancies"></back-link>
        {{ header }}
      </div>
      <form
        class="card-content"
        @submit.prevent="validateAndApply"
      >
        <field
          :label="$tg.nameLabel"
          :vs="$v.formModel.name"
        >
          <input
            class="fc"
            v-model="formModel.name"
            :placeholder="$tg.namePh"
          >
        </field>

        <div class="row">
          <field
            :label="t.salaryPerMonthLabel"
            :vs="$v.formModel.salaryPerMonth"
            class="col-xs-8"
          >
            <number-input
              v-model="formModel.salaryPerMonth"
              :min="0"
              :placeholder="t.salaryPerMonthPh"
            ></number-input>
          </field>
          <field
            :label="t.currencyLabel"
            class="col-xs-4"
            :vs="$v.formModel.currency"
          >
            <currency-multiselect v-model="formModel.currency"></currency-multiselect>
          </field>
        </div>

        <field
          :label="$t.company.filialLabel"
          :vs="$v.formModel.companyFilial"
        >
          <filial-multiselect
            tryAutocomplete
            v-model="formModel.companyFilial"
          ></filial-multiselect>
        </field>
        <field
          :label="$tg.professionLabel"
          :vs="$v.formModel.profession"
        >
          <profession-multiselect v-model="formModel.profession"></profession-multiselect>
        </field>
        <field
          :label="t.employmentTypeLabel"
          :vs="$v.formModel.employmentType"
        >
          <employment-type-multiselect v-model="formModel.employmentType"></employment-type-multiselect>
        </field>
        <!-- <field :label="$t.company.contactPhoneLabel" :vs="$v.formModel.contactPhone">
          <multiselect :placeholder="$t.company.contactPhonePh" v-model="formModel.contactPhone" 
          :options="['$g.myCompanyMainInfo.contactPhone']" autocomplete>
          </multiselect>
        </field>
        <field :label="$t.company.contactEmailLabel" :vs="$v.formModel.contactEmail">
          <multiselect :placeholder="$t.company.contactEmailPh" v-model="formModel.contactEmail"
           :options="['$g.myCompanyMainInfo.contactEmail']" autocomplete>
          </multiselect>
        </field> -->

        <field
          :label="t.descriptionLabel"
          :vs="$v.formModel.description"
        >
          <textarea v-model="formModel.description"></textarea>
        </field>
        <field
          :label="t.requirementsLabel"
          :vs="$v.formModel.requirements"
        >
          <textarea v-model="formModel.requirements"></textarea>
        </field>
        <field
          :label="t.dutiesLabel"
          :vs="$v.formModel.duties"
        >
          <textarea v-model="formModel.duties"></textarea>
        </field>
        <field
          :label="t.workingConditionsLabel"
          :vs="$v.formModel.workingConditions"
        >
          <textarea v-model="formModel.workingConditions"></textarea>
        </field>
        <m-button
          ref="submitBtn"
          :disabled="formModel.isDisabled"
          class="md-raised md-primary"
          type="submit"
        >{{ $tg.save }}</m-button>
        <span
          class="save-btn-tip"
          v-if="formModel.isDisabled"
        >{{ t.cannotSaveTip }}</span>
      </form>
    </div>
  </div>
</template>

<script lang="ts" src="./edit-vacancy.ts"></script>
<style lang="scss" src="./edit-vacancy.scss"></style>
