@import '~assets/css/all-utils.scss';
.near-the-house {
    // background-color: $dark-purple-color;
    // background-color: #39479d; // min-height: calc(100vh - #{$header-height});
    // min-height: 100vh;
    width: 100%; // background: linear-gradient(110deg, #404faf 33%, #3544a5 54%);
    margin-top: 0 !important;
}
