<template>
  <div>
    <h2 class="align-center">{{ t.header }}</h2>
    <p v-if="confirmationStatus == confirmationStatuses.loading" class="">
      {{ t.loadingMessage }}
    </p>
    <p v-else-if="confirmationStatus == confirmationStatuses.success">
      {{ t.successMessage }}
    </p>
    <p v-else>
      {{ t.errorMessage }}
    </p>
  </div>
</template>

<script lang="ts" src="./changing-email.ts"></script>
<style lang="scss" src="./changing-email.scss"></style>
