<template>
  <div class="edit-company-filial">
    <div class="card">
      <div class="card-header">
        <back-link to="MyResumes"></back-link>
        {{ header }}
      </div>
      <form
        class="card-content"
        @submit.prevent="validateAndApply()"
      >
        <field
          :label="$tg.nameLabel"
          :vs="$v.formModel.name"
        >
          <m-input
            v-model="formModel.name"
            :placeholder="$tg.namePh"
          />
        </field>

        <field
          :label="t.experienceYearsLabel"
          :vs="$v.formModel.experienceYears"
        >
          <number-input
            v-model="formModel.experienceYears"
            :placeholder="t.experienceYearsPh"
            :min="0"
            :max="100"
          />
        </field>

        <div class="row">
          <field
            :label="t.salaryPerMonthLabel"
            :vs="$v.formModel.salaryPerMonth"
            class="col-xs-8"
          >
            <number-input
              v-model="formModel.salaryPerMonth"
              :min="0"
              :max="$consts.validations.maxSalary"
              :placeholder="t.salaryPerMonthPh"
            ></number-input>
          </field>
          <field
            :label="t.currencyLabel"
            class="col-xs-4"
            :vs="$v.formModel.currency"
          >
            <currency-multiselect v-model="formModel.currency"></currency-multiselect>
          </field>
        </div>

        <field
          :label="$tg.professionLabel"
          :vs="$v.formModel.profession"
        >
          <profession-multiselect v-model="formModel.profession"></profession-multiselect>
        </field>

        <field
          :label="t.skillsLabel"
          :vs="$v.formModel.skills"
        >
          <textarea v-model="formModel.skills"></textarea>
        </field>

        <field
          :label="t.descriptionLabel"
          :vs="$v.formModel.description"
        >
          <textarea v-model="formModel.description"></textarea>
        </field>

        <!-- todo, work experiences -->

        <m-button
          ref="submitBtn"
          :disabled="formModel.isDisabled"
          class="md-raised md-primary"
          type="submit"
        >{{ $tg.save }}</m-button>
        <span
          class="save-btn-tip"
          v-if="formModel.isDisabled"
        >{{ t.cannotSaveTip }}</span>
      </form>
    </div>
  </div>

</template>

<script lang="ts" src="./edit-resume.ts"></script>
<style lang="scss" src="./edit-resume.scss"></style>
