<template>
  <div class="c-vac__map-wrap card">
    <GoogleMapWrap ref="mapComponent" />
  </div>
</template>

<script lang="ts" src="./vacancies-on-map.tsx"></script>
<style lang="scss" src="./vacancies-on-map.scss"></style>
