<template>
  <div class="edit-company-filial">
    <div class="card">
      <div class="card-header">
        <back-link to="MyCompanyFilials"></back-link>
        {{ header }}
      </div>
      <form class="card-content" @submit.prevent="validateAndApply()">
        <field :label="$tg.nameLabel" :vs="$v.formModel.name">
          <input class="fc" v-model="formModel.name" :placeholder="$tg.namePh">
        </field>

        <field :label="$t.company.employeeCountLabel" :vs="$v.formModel.employeeCount">
          <number-input isInt :min="1" v-model="formModel.employeeCount" :placeholder="$t.company.employeeCountPh"></number-input>
        </field>

        <!-- <field :label="$t.company.contactEmailLabel" :vs="$v.formModel.contactEmail">
          <m-input type="email" :placeholder="$t.company.contactEmailPh" v-model="formModel.contactEmail" />
        </field>
        <field :label="$t.company.contactPhoneLabel" :vs="$v.formModel.contactPhone">
          <m-input type="tel" :placeholder="$t.company.contactPhonePh" v-model="formModel.contactPhone" />
        </field> -->

        <address-fields v-model="formModel.address" :vs="$v.formModel.address" :disabled="isEditMode"></address-fields>

        <m-button ref="submitBtn" :disabled="formModel.isDisabled" class="md-raised md-primary" type="submit">{{ $tg.save }}</m-button>
        <span class="save-btn-tip" v-if="formModel.isDisabled">{{ t.cannotSaveTip }}</span>
      </form>
    </div>
  </div>

</template>

<script lang="ts" src="./edit-company-filial.ts"></script>
<style lang="scss" src="./edit-company-filial.scss"></style>
