<template>
  <div class="my-company-photos">
    <div class="card">

      <h2 class="card-header with-actions">{{ $t.myProfile.menuItems.myCompanyPhotos }}
        <div class="card-header-actions">
          <m-button class="md-fab" @click="$refs.addImageInput.click()">
            <md-icon>add</md-icon>
          </m-button>
          <input ref="addImageInput" class="d-none" type="file" @change="onFileChanged($event.target.files[0])" accept="image/*">
        </div>
      </h2>

      <div class="card-content">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3 compnay-photo-wrap" v-for="(photo, index) in items" :key="index">
            <md-card class="compnay-photo">
              <md-card-media>
                <img :src="photo.photoUri">
              </md-card-media>

              <md-card-header v-if="!photo.id || photo.companyFilial">
                <field :label="$t.company.filialLabel" v-if="!photo.id">
                  <filial-multiselect v-model="photo.companyFilial"></filial-multiselect>
                </field>
                <span v-else>{{ $t.company.filialLabel }}: {{ photo.companyFilial.name }}</span>
              </md-card-header>



              <md-card-actions class="company-photo__actions">
                <div>
                  <m-button :ref="`savePhotoBtn${index}`" v-if="!photo.id" class="md-icon-button" @click="savePhoto(photo, index)">
                    <md-icon class="md-primary">done</md-icon>
                  </m-button>
                  <m-button :ref="`deletePhotoBtn${index}`" class="md-icon-button" @click="showDeleteItemConfirmation(photo, index)">
                    <md-icon class="md-primary">delete</md-icon>
                  </m-button>
                </div>
              </md-card-actions>
            </md-card>
          </div>
        </div>
      </div>

      <div class="card-content">
        <swiper class="company-photos-swiper" ref="swiper" v-if="items && items.length" :options="swiperOption">
          <swiper-slide v-for="(photo, index) in items" :key="index">
            <img class="swiper__company-photo" :src="photo.photoUri" @load="onLoadedImage()">
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
          <button class="swiper-button-prev" slot="button-prev"></button>
          <button class="swiper-button-next" slot="button-next"></button>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./my-company-photos.ts"></script>
<style lang="scss" src="./my-company-photos.scss"></style>
