<template>
  <div class="image-fallback-wrap">
    <img v-if="imgSrc" :src="imgSrc" class="image-fallback__image">
    <div v-else class="image-fallback row no-padd center" :style="imageFallbackStyles">
      <div class="col">{{ content }}</div>
    </div>
  </div>
</template>

<script lang="ts" src="./image-fallback.ts"></script>
<style lang="scss" src="./image-fallback.scss"></style>
