@import '~assets/css/all-utils.scss';
.image-fallback {
    border-radius: 9999px;
    text-transform: uppercase;
    font-size: 49px;
    color: white;
    background-color: $dark-purple-color;
    // width: 100%;
    // height: 100%;
    padding: 5px;
    text-align: center;
    // display: table-cell;
    // vertical-align: middle;
    margin: auto;
    box-sizing: border-box;
    max-width: 100%;
}

.image-fallback__image {
    width: 100%;
}