<template>
  <div>
    <multiselect v-model="selectedAddress" :canDeselect="canDeselect" :closeOnSelect="closeOnSelectComputed" :multiple="false" 
      :hide-tags="hideTags" :placeholder="getPlaceholder" track-by="place_id" :clearOnSelect="false" :preserveSearch="true"
        :custom-label="optionLabel" :hide-selected="hideSelectedComputed" :loading="multiselectProps.isLoading" :options="multiselectProps.options"
        @search-change="findAddresses" :internal-search="false" :enabled-select-picker="enabledSelectPicker" @highlight-option="onHighlightOption"
        @select="onSelect" :disabled="disabled">
    </multiselect>
    <div class="powered-by-google"></div>
  </div>
</template>


<script lang="ts" src="./address-multiselect.ts"></script>
<style lang="scss" src="./address-multiselect.scss"></style>
