@import '~assets/css/all-utils.scss';

.powered-by-google {
    float: right;
    &:after {
        @include button-bg('~assets/images/inputs/powered_by_google_on_white.png', 144px, 18px);
        display: inline-block;
    }
}