<template>
  <div class="collapsible clearfix">
    <button class="collapsible-header-btn" @click="onHeaderClick">
      <div class="collapsible-header__caption">
        <slot name="header">
          {{ header }}
        </slot>
      </div>
      <md-icon class="right">{{ internalCollapsed ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</md-icon>
    </button>
    <keep-alive>
      <content-slot v-if="!internalCollapsed">
        <slot></slot>
      </content-slot>
    </keep-alive>
  </div>

</template>

<script lang="ts" src="./collapsible.ts"></script>
<style lang="scss" src="./collapsible.scss"></style>
