@import '~assets/css/all-utils.scss';

.collapsible-header__caption{
    margin-top: 2px;
    display: inline-block;
}

.collapsible-content {
    padding: 8px 16px;
}

.collapsible-header-btn{
    color: rgba(0, 0, 0, .87);
    color: var(--md-theme-demo-light-text-primary-on-background, rgba(0, 0, 0, .87));
    
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    padding: 13px 16px;
    background: transparent;
    border: 0;
    width: 100%;
    height: 100%;
}