<template>
  <button class="md-button md-theme-default" :disabled="disabledComputed" v-on="$listeners">
    <div v-if="isLoadingInternal" class="m-btn-loading">
      <div class="l__item l__item--b1"></div>
      <div class="l__item l__item--b2"></div>
      <div class="l__item l__item--b3"></div>
    </div>
    <slot v-else></slot>
  </button>
</template>

<script lang="ts" src="./m-button.ts"></script>
<style lang="scss" src="./m-button.scss"></style>
