.md-button {
    padding-left: 7px;
    padding-right: 7px;
    margin: 0;
    min-height: 36px;
    height: fit-content;
    display: inline-block;
    &:disabled {
        background-color: #bcbcbce0 !important;
    }
    &.md-icon-button {
        height: 40px;
    }
    &.md-fab {
        height: 56px;
    } // &:focus {
    //     outline-color: rgba(133, 133, 133, 0.18);
    //     outline-width: 2px;
    //     outline-style: solid;
    //     // outline-offset: 0px;
    // }
}

.m-btn-loading {
    display: inline-block;
    width: 70px;
    padding: 5px 4px 4px;
    text-align: center;
}

.l__item {
    width: 16px;
    height: 16px;
    background-color: #ccc;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.l__item--b1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.l__item--b2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.md-fab,
.md-icon-button {
    .m-btn-loading {
        display: block;
        position: relative;
        margin: auto;
        text-align: center;
        width: 40px;
        height: 40px;
    }
    .l__item {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(51, 51, 51, 0.349);
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }
    .l__item--b2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    .l__item--b3 {
        display: none;
    }
}

.md-icon-button {
    .m-btn-loading {
        margin-left: -7px;
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}