<template>
  <!-- :tabindex="tabindex" -->
  <div
    :class="{ 'multiselect--active': isOpen, 'multiselect--disabled': disabled, 'multiselect--above': isAbove, 'multiselect--multiple': multiple }"
    @focus="activate()"
    @blur="searchable ? false : deactivate()"
    @keydown.self.down.prevent="pointerForward()"
    @keydown.self.up.prevent="pointerBackward()"
    @keydown.enter.tab.stop.self="addPointerElement($event)"
    @keyup.esc="deactivate()"
    class="multiselect"
  >
    <slot name="carret">
      <div
        @mousedown.prevent.stop="toggle()"
        v-show="enabledSelectPicker"
        class="multiselect__select"
      ></div>
    </slot>
    <slot
      name="clear"
      :search="search"
    ></slot>
    <div
      ref="tags"
      class="multiselect__tags"
    >
      <div
        class="multiselect__tags-wrap"
        v-show="visibleValue.length > 0 && !hideTags"
      >
        <template
          v-for="option of visibleValue"
          @mousedown.prevent
        >
          <slot
            name="tag"
            :option="option"
            :search="search"
            :remove="removeElement"
          >
            <span class="multiselect__tag">
              <span v-text="getOptionLabel(option)"></span>
              <i
                aria-hidden="true"
                tabindex="1"
                @keydown.enter.prevent="removeElement(option)"
                @mousedown.prevent="removeElement(option)"
                class="multiselect__tag-icon"
              ></i>
            </span>
          </slot>
        </template>
      </div>
      <template v-if="internalValue && internalValue.length > limit">
        <strong
          class="multiselect__strong"
          v-text="limitText(internalValue.length - limit)"
        ></strong>
      </template>
      <transition name="multiselect__loading">
        <slot name="loading">
          <div
            v-show="loading"
            class="multiselect__spinner"
          ></div>
        </slot>
      </transition>

      <input
        ref="search"
        :name="name"
        :id="id"
        type="text"
        autocomplete="off"
        :placeholder="getPlaceholder"
        v-if="searchable"
        :style="inputStyle"
        :value="isOpen ? search : currentOptionLabel"
        :disabled="disabled"
        @input="updateSearch($event.target.value)"
        @focus.prevent="activate()"
        @blur.prevent="deactivate()"
        @keyup.esc="deactivate()"
        @keydown.down.prevent="pointerForward()"
        @keydown.up.prevent="pointerBackward()"
        @keydown.enter.prevent.stop.self="addPointerElement($event)"
        @keydown.delete.stop="removeLastElement()"
        class="fc multiselect__input"
      />
      <span
        v-if="!searchable"
        class="multiselect__single"
        v-text="currentOptionLabel"
      >
      </span>
    </div>
    <transition name="multiselect">
      <keep-alive>
        <div
          class="multiselect__content-wrapper"
          v-if="isOpen && (!autocomplete || filteredOptions.length)"
          @mousedown.prevent
          :style="{ maxHeight: optimizedHeight + 'px' }"
          ref="list"
        >
          <ul
            class="multiselect__content"
            :style="contentStyle"
          >
            <slot name="beforeList"></slot>
            <li v-if="multiple && max === internalValue.length">
              <span class="multiselect__option">
                <slot name="maxElements">Maximum of {{ max }} options selected. First remove a selected option to select another.</slot>
              </span>
            </li>
            <template v-if="!max || internalValue.length < max">
              <li
                class="multiselect__element"
                v-for="(option, index) of filteredOptions"
                :key="index"
              >
                <span
                  v-if="!(option && (option.$isLabel || option.$isDisabled))"
                  :class="optionHighlight(index, option)"
                  @click.stop="select(option)"
                  @mouseenter.self="pointerSet(index)"
                  :data-select="option && option.isTag ? tagPlaceholder : selectLabelText"
                  :data-selected="selectedLabelText"
                  :data-deselect="deselectLabelText"
                  class="multiselect__option"
                >
                  <slot
                    name="option"
                    :option="option"
                    :search="search"
                  >
                    <span :class="{ 'multiselect__label-with-checkbox': canShowCheckbox }">{{ getOptionLabel(option) }}</span>
                    <div
                      v-if="canShowCheckbox"
                      class="multiselect__checkbox"
                    >
                      <v-checkbox :value="isSelected(option)"></v-checkbox>
                    </div>
                  </slot>
                </span>
                <span
                  v-if="option && (option.$isLabel || option.$isDisabled)"
                  :class="optionHighlight(index, option)"
                  class="multiselect__option multiselect__option--disabled"
                >
                  <slot
                    name="option"
                    :option="option"
                    :search="search"
                  >
                    <span>{{ getOptionLabel(option) }}</span>
                  </slot>
                </span>
              </li>
            </template>
            <li v-show="showNoResults && filteredOptions.length === 0 && !loading && !autocomplete">
              <span class="multiselect__option">
                <slot
                  v-if="search"
                  name="noResult"
                >{{ $t.multiselects.multiselect.notFound }}</slot>
                <template v-else>
                  <slot
                    v-if="!internalValue || !internalValue.length"
                    name="noItems"
                  >{{ $t.multiselects.multiselect.noItems }}</slot>
                  <slot
                    v-else
                    name="noOtherItems"
                  >{{ $t.multiselects.multiselect.noOtherItems }}</slot>
                </template>
              </span>
            </li>
            <slot name="afterList"></slot>
          </ul>
        </div>
      </keep-alive>
    </transition>
  </div>
</template>

<script src="./Multiselect.js"></script>
<style lang="scss" src="./Multiselect.scss"></style>
