@import '~assets/css/all-utils.scss';
fieldset[disabled] .multiselect {
    pointer-events: none;
}

.multiselect__spinner {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 39px;
    height: 30px;
    display: block;
    z-index: 1;
}

.multiselect__spinner:before,
.multiselect__spinner:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: #41B883 transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
}

.multiselect__spinner:before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
}

.multiselect__spinner:after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
    @include transition(opacity 0.4s ease-in-out);
    opacity: 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
    opacity: 0;
}

.multiselect,
.multiselect__input,
.multiselect__single {
    // font-family: inherit;
    // font-size: 16px;
    touch-action: manipulation;
    // border: 0;
}

.multiselect__input {
    // border-bottom: 1px solid rgb(116, 116, 116);
}

.multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    min-height: 20px;
    // height: 33px;
    text-align: left;
    color: #35495E;
    // .md-field {
    //     margin: 0;
    //     padding: 0;
    //     min-height: 33px;
    // }
}

.multiselect * {
    box-sizing: border-box;
}

.multiselect:focus {
    outline: none;
}

.multiselect--disabled {
    pointer-events: none;
    // .multiselect__input {
    //     color: grey;
    // }
    // opacity: 0.6;
}

// .multiselect--active {
//     // z-index: $multiselect--active-z-index;
// }

// .multiselect--active .multiselect__current,
// .multiselect--active .multiselect__input,
// .multiselect--active .multiselect__tags {
//     // border-bottom-left-radius: 0;
//     // border-bottom-right-radius: 0;
// }

.multiselect--active .multiselect__select {
    transform: rotateZ(180deg);
}

// .multiselect--above.multiselect--active .multiselect__current,
// .multiselect--above.multiselect--active .multiselect__input,
// .multiselect--above.multiselect--active .multiselect__tags {
//     // border-top-left-radius: 0;
//     // border-top-right-radius: 0;
// }

.multiselect__input,
.multiselect__single {
    position: relative;
    display: inline-block;
    // min-height: 20px;
    // height: 100%;
    // min-height: 32px;
    // line-height: 20px;
    // border: none;
    // border-radius: 5px;
    background: #fff;
    // padding: 0 0 0 5px;
    // width: calc(100%);
    width: 100%;
    @include transition(border 0.1s ease);
    box-sizing: border-box;
    // margin-bottom: 8px;

    padding: 0px 30px 0 0px;
    @include placeholder(rgb(148, 148, 148));
}

// .multiselect input.multiselect__input {
//     padding: 0px 0 0 0px;
//     @include placeholder(rgb(148, 148, 148));
//     padding-right: 30px;
// }
.multiselect__tag~.multiselect__input,
.multiselect__tag~.multiselect__single {
    width: auto;
}

// .multiselect__input:hover,
// .multiselect__single:hover {
//     // border-color: #cfcfcf;
// }

.multiselect__input:focus,
.multiselect__single:focus {
    // border-color: #a8a8a8;
    outline: none;
}

.multiselect__single {
    padding-left: 6px;
    margin-bottom: 8px;
}

.multiselect__tags-wrap {
    display: inline
}

.multiselect__tags {
    min-height: 20px;
    height: 100%;
    display: block;
    padding: 0px 0px 0 0px;
    // border-radius: 3px;
    // border: 1px solid #E8E8E8;
    // border-bottom: 1px solid #8f8f8f;
    background: #fff;
}

.multiselect__tag {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    line-height: 1;
    background: #41B883;
    margin-bottom: 8px;
    white-space: nowrap;
}

.multiselect__tag-icon {
    cursor: pointer;
    margin-left: 7px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: 700;
    font-style: initial;
    width: 22px;
    text-align: center;
    line-height: 22px;
    @include transition(all 0.2s ease);
    border-radius: 5px;
}

.multiselect__tag-icon:after {
    content: "×";
    color: #266d4d;
    font-size: 14px;
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
    background: #369a6e;
}

.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
    color: white;
}

.multiselect__current {
    line-height: 16px;
    min-height: 40px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 8px 12px 0;
    padding-right: 30px;
    white-space: nowrap;
    margin: 0;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    cursor: pointer;
}

.multiselect__placeholder {
    color: #ADADAD;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px;
}

.multiselect--active .multiselect__placeholder {
    display: none;
}

.multiselect__content-wrapper {
    position: absolute;
    display: block;
    background: #fff;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    border: 1px solid #E8E8E8;
    // border-top: none;
    // border-bottom: none;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    z-index: $multiselect__content-wrapper-z-index;
    -webkit-overflow-scrolling: touch;
}

.multiselect__content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 100%;
}

.multiselect--above .multiselect__content-wrapper {
    bottom: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    // border-bottom: none;
    // border-top: 1px solid #E8E8E8;
}

.multiselect__content::webkit-scrollbar {
    display: none;
}

.multiselect__element {
    display: block;
}

.multiselect__option {
    display: block;
    padding: 12px;
    min-height: 40px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    // border-bottom: 1px solid rgb(214, 217, 223);
}

.multiselect__label-with-checkbox {
    margin-right: 20px;
    display: inline-block;
}

.multiselect__checkbox {
    position: absolute;
    top: 12px;
    right: 10px;
}

.multiselect__option:after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px;
}

.multiselect__option--highlight {
    background: rgb(238, 238, 238);
    outline: none;
    // color: white;
}

.multiselect__option--highlight:after {
    content: attr(data-select);
    background: #41B883;
    color: white;
}

.multiselect__option--selected {
    &.multiselect__option--without-checkbox {
        // font-weight: bold;
        color: #448aff;
        .multiselect--multiple & {
            color: #35495E;
            background: #F3F3F3;
        }
    }
}

.multiselect__option--selected:after {
    content: attr(data-selected);
    color: silver;
}

.multiselect__option--selected.multiselect__option--highlight {
    &:not(.multiselect__option--cannot-deselect) {
        background: #FF6A6A;
        color: #fff;
    }
}

.multiselect__option--selected.multiselect__option--highlight:after {
    background: #FF6A6A;
    content: attr(data-deselect);
    color: #fff;
}

.multiselect--disabled {
    background: #ededed;
    pointer-events: none;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background: #ededed;
    color: #a6a6a6;
}

.multiselect__option--disabled {
    background: #ededed;
    color: #a6a6a6;
    cursor: text;
    pointer-events: none;
}

.multiselect__option--disabled.multiselect__option--highlight {
    background: #dedede !important;
}

.multiselect-enter-active,
.multiselect-leave-active {
    @include transition(all 0.15s ease);
}

.multiselect-enter,
.multiselect-leave-active {
    opacity: 0;
}

.multiselect__strong {
    margin-bottom: 10px;
    display: inline-block
}

.multiselect__select {
    line-height: 16px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 100%;
    right: 0px;
    top: 0px;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 2;
}

.multiselect__select:before {
    position: relative;
    right: 0;
    top: 67%;
    color: #999;
    margin-top: 4px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #999999 transparent transparent transparent;
    content: "";
}

@keyframes spinning {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(2turn)
    }
}