<template>
  <div class="my-receiving-resumes">
    <div class="card">
      <div class="card-header">{{ $t.myProfile.menuItems.myCompanyReceivedResumes }}</div>

      <div class="card-content">
        <div
          class="list-item"
          v-for="(receivedResume) in items"
          :key="receivedResume.id"
        >
          <div class="list-item__content">
            <div class="list-values">
              <div class="list-value">
                <span
                  class="list-value__caption"
                  :class="{ 'received-resume__unviewed': receivedResume.status.id == 1 }"
                >{{ $tg.vacancy }}:</span>
                <router-link :to="{ name: 'EditVacancy', params: { vacancyId: receivedResume.vacancy ? receivedResume.vacancy.id : ''} }">
                  {{ receivedResume.vacancy | Safe('name') }}
                </router-link>
              </div>
            </div>
            <div class="sent-date">{{ receivedResume.createdOnUtc | ToLocalTime | FormatDateTime }}</div>
            <div class="row list-values">
              <div class="list-value col-xs-12 col-sm-6">
                <span class="list-value__caption">{{ $tg.resume }}:</span>
                <router-link :to="{ name: 'ResumeDetails', params: { resumeId: receivedResume.resume ? receivedResume.resume.id : ''} }">
                  {{ receivedResume.resume | Safe('name') }}
                </router-link>

                <a
                  rel="nofollow noopener"
                  v-if="receivedResume.resume && receivedResume.resume.resumeFileUri"
                  :href="receivedResume.resume.resumeFileUri"
                  :download="`${receivedResume.resume.name} ${$tg.resume}`"
                  class="mrr__download-resume"
                  target="_blank"
                >{{ $tg.resumeFile }}</a>

              </div>
              <div class="list-value col-xs-12 col-sm-6">
                <span class="list-value__caption">{{ $tg.fullNameLabel }}:</span> {{ receivedResume.resume | Safe('applicant.fullName') }}</div>

              <div class="list-value col-xs-12 col-sm-6">
                <span class="list-value__caption">{{ $t.applicant.contactPhoneLabel }}:</span>
                {{ receivedResume.resume | Safe('applicant.contactPhone') }}</div>

              <div class="list-value col-xs-12 col-sm-6">
                <span class="list-value__caption">{{ $t.applicant.contactEmailLabel }}:</span>
                {{ receivedResume.resume | Safe('applicant.contactEmail') }}</div>

              <div
                class="list-value col-xs-12"
                v-if="receivedResume.message"
              >
                <span class="list-value__caption">{{ $tg.messageLabel }}:</span> {{ receivedResume.message }}</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./my-received-resumes.ts"></script>
<style lang="scss">
@import "~assets/css/all-utils.scss";
.mrr__download-resume {
  color: $dark-purple-color !important;
  padding-left: 10px;
}
</style>
