@import '~assets/css/all-utils.scss';
.card-info {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-bottom: 30px;
    &.without-margin {
        margin-bottom: 0;
    }
}

.card-info__header {
    margin: 0;
    padding: 0 0 10px;
    color: rgb(97, 97, 97);
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    @media only screen and (max-width: 48em) {
        padding: 0 0 3%;
        font-size: 25px;        
    }
}

.card-info__content {
    padding: 20px;
    color: rgb(97, 97, 97);
}

.ci-list__name-header {
    padding: 0;
    font-size: 28px;
}

.ci-list__address-icon {
    font-size: 14px!important;
    margin: 0 -5px 0 -8px;
}

.ci-list__formatted-address {
    font-size: 13px;
}

.ci-list__info-wrap {
    padding-right: 30px;
    display: inline-block;
}

.ci-list__info-label {
    color: #b7bbc0;
    // padding: 20px 0 4px;
    font-size: 13px;
}

.ci-list__info-value {
    // padding: 4px 0 10px;
    font-size: 14px;
}

.empty-state-header {
    text-align: center;
    color: #b8b8b8;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.card-content {
    padding: 16px;
}

.hr {
    height: 1px;
    display: block;
    background-color: rgb(85, 85, 85);
}

.card-header {
    @extend .card-info__header;
    padding: 16px 0 0 16px;
    // text-align: left;
    // background-color: #8895DC;
    // font-size: 35px;
    // font-weight: 500;
    // padding: 30px 20px;
    // box-sizing: border-box;
    // color: white;
    // position: relative;
    // // min-height: 100px;
    // margin: 0;
    // line-height: 1.35;
    &.with-actions {
        // position: relative;
        margin-bottom: 30px;
    }
    // word-break: break-word;
}

.card-subheader {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #575757;
    // font-weight: 500;
    // color: rgb(51, 51, 51);
    padding: 15px 0 10px;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    // line-height: 1.35;
}

.card-header__back {
    background-color: transparent;
    box-shadow: none;
    height: 48px!important;
    width: 48px!important;
    margin: 0;
    .md-icon {
        // color: white!important;
        color: #616161!important;
        font-size: 57px!important;
    }
}

a.card-header__back {
    line-height: 48px!important;
    text-align: center;
}

.card-header-actions {
    float: right;
    position: relative;
    right: 20px;
    // position: absolute;
    // right: 20px;
    // bottom: -34px;
}

.list-item {
    width: 100%;
    padding: 0 0 0 15px;
    position: relative;
    &:last-child {
        .list-item__content {
            border-bottom: none;
        }
    }
    &.deactivated {
        background-color: #ededed
    }
}

.list-item__content {
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgb(175, 175, 175);
    color: #8b8b8b;
    // min-height: 55px; todo, create with actions
    line-height: 1.25;
}

.list-item__actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.li__header {
    font-weight: 500;
    font-size: 15px;
    color: rgb(87, 87, 87);
    line-height: 1.5;
}

.list-values {
    margin: 4px 0;
}

.list-value {
    margin: 3px 0;
}

.list-value__caption {
    color: rgb(58, 58, 58);
}

.simple-stub {
    background-color: #3f51b5;
    position: absolute;
    width: 100%;
    height: 170px;
}

.profile-content {
    position: relative;
    padding: 50px 70px 10px;
    @include reducePadd();
}

.cards-list {
    margin: 25px 0 0;
}

.card-list__item {
    padding: 18px 25px 0;
    background-color: #fff;
}

.cl-item__content {
    border-bottom: 1px solid #e9e9e9;
    .items-list:last-child & {
        border-bottom: 0;
    }
}

.cl-item__desc {
    // border-bottom: 1px solid #e5e5e5;
    margin: 10px 0 10px;
    padding: 0 0 15px;
    color: #8b8b8b;
}

.cl-item__name-link {
    font-weight: normal;
    padding-bottom: 3px;
}

.cl-item__name {
    font-size: 24px;
    color: $dark-purple-color;
}

.cl-item__name-salary {
    font-size: 20px;
    color: black;
}

.cl-item__cn {
    color: #7a7a7a;
    font-size: 18px;
}

.cl-item__address {
    padding-left: 10px;
}

.cl-item__photo-wrap {
    max-width: 100px;
    padding: 0 0 10px 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.cl-item__photo {
    max-height: 100px;
}