@import '~assets/css/all-utils.scss';
.grid {
    @include flexbox();
}

.grid--inline {
    @include flexbox-inline();
}

.grid--inline,
.grid {
    @include flex-flow(wrap);
    &.g-column {
        @include flex-flow(column);
    }
    &.g-vertical {
        flex-direction: column;
    }
    .grid-cell {
        @include flex(1);
    }
}

.grid--nowrap {
    flex-flow: row;
}


/* Justify per row*/

.grid--right {
    @include justify-content(flex-end);
}

.grid--space-between {
    @include justify-content(space-between);
}

.grid--center {
    @include justify-content(center);
    align-items: center;
}

.grid--stretch {
    align-items: stretch;
}

.grid--center-v {
    align-items: center;
}

.grid--center-h {
    @include justify-content(center);
}

.grid--top {
    align-items: flex-start;
}

.grid--bottom {
    align-items: flex-end;
}

.grid--auto {
    .grid-cell {
        @include flex(1 1 auto);
    }
}


/*  ----------- Alignment per cell --------------- */

.grid-cell-fte {
    @include flex(1 1 auto);
}

.grid-cell--top {
    align-self: flex-start;
}

.grid-cell--bottom {
    align-self: flex-end;
}

.grid-cell--center {
    align-self: center;
}

.grid-cell--flex-0-0-auto {
    @include flex(0 0 auto);
}
