@import '~assets/css/all-utils.scss';
.right {
    float: right;
}

.left {
    float: left;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bottom {
    vertical-align: bottom;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.flexbox {
    @include flexbox();
}

.align-center {
    text-align: center;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-ib {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

.c-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.clearfix {
    @include clearfix();
}

.break-word {
    word-break: break-word;
}

.c-white {
    color: white !important;
}

.va-top {
    vertical-align: top;
}

.as-pre {
    white-space: pre-line;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.center,
.center-align {
    text-align: center;
}

.h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
}