@import '~assets/css/all-utils.scss';
$border-color: #dbdbdb;
.fc {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $border-color;
    display: block;
    height: 34px;
    padding: 0;
    box-sizing: border-box;
    transition: .4s cubic-bezier(.25, .8, .25, 1);
    padding: 4px 0 10px;
    @include placeholder(rgb(122, 122, 122));
    &:focus {
        border-bottom: 1px solid #448aff;
        box-shadow: 0 2px 0px 0px rgba(68, 138, 255, 0.73);
    }
    &:disabled,
    &[readonly] {
        border-bottom-style: dashed;
        @include placeholder(rgb(160, 160, 160));
    }
    &:disabled {
        background-color: white;
        background-color: unset;
        background-color: initial;
    }
}

textarea {
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    resize: vertical;
    min-height: 100px;
    border: 1px solid $border-color;
    border-radius: 3px;
    &:focus {
        border: 1px solid #448aff;
        box-shadow: 0 2px 0px 0px rgba(68, 138, 255, 0.73);
    }
}

.fc,
textarea {
    font-size: 16px;
    // color: rgb(46, 46, 46);
    color: #465969;
    box-sizing: border-box;
    outline: none;
}

.fc-label {
    // font-size: 12px;
    // line-height: 20px;
    // color: rgb(163, 163, 163);
    display: block;
    color: #919191;
    padding: 7px 0 4px;
    // padding: 0 0 4px;
    font-size: 13px;
    &.required {
        &:after {
            content: '*';
            padding-left: 2px;
        }
    }
}

.has-error {
    .fc,
    textarea {
        border-color: #ff1744;
    }
    .fc-label {
        color: #ff1744;
    }
}

.input-tip {
    font-size: 12px;
    color: rgb(148, 148, 148);
    padding-top: 4px;
    padding-bottom: 4px;
}