@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin square($side) {
    height: $side;
    width: $side;
}

@mixin standard-text() {
    font-size: 14px;
    // font-weight: 500;
}

@mixin mask($url) {
    background-color: #575757;
    -webkit-mask: url($url) no-repeat 50% 50%;
    mask: url($url) no-repeat 50% 50%;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin clearfix() {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin bgImage($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
    transform: $value;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexbox-inline() {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

@mixin flex($value...) {
    -ms-flex: $value;
    -webkit-flex: $value;
    flex: $value;
}

@mixin ms-flex-justify-content($justifyContent) {
    @if($justifyContent=space-between) {
        -ms-flex-pack: justify;
    }
    @if($justifyContent=space-around) {
        -ms-flex-pack: distribute;
    }
    @if($justifyContent=flex-start) {
        -ms-flex-pack: start;
    }
    @if($justifyContent=flex-end) {
        -ms-flex-pack: end;
    }
    @if($justifyContent=center) {
        -ms-flex-pack: center;
    }
}

@mixin justify-content($justifyContent) {
    @include ms-flex-justify-content($justifyContent); // IE10
    -webkit-justify-content: $justifyContent; // Safari / iOS
    justify-content: $justifyContent;
}

@mixin flex-flow($value) {
    flex-flow: $value;
    -ms-flex-flow: $value;
}

@mixin bg($url) {
    content: '';
    display: block;
    background-size: 100%;
    background-image: url($url);
    background-repeat: no-repeat;
}

@mixin button-bg($url, $side, $side2: 0) {
    @include bg($url);
    vertical-align: middle;
    @if $side2==0 {
        @include square($side);
    }
    @else {
        width: $side;
        height: $side2
    }
}

@mixin reducePadd() {
    @media only screen and (max-width: 62em) {
        padding-left: 7%;
        padding-right: 7%;
    }
    @media only screen and (max-width: 48em) {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
}

@mixin blue-top-border() {
    border-top: 3px solid $baby-blue-eyes-color;
}

@mixin transition($value...) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}