@import '~assets/css/all-utils.scss';
body {
    // width: 100%;
    // height: 100%;
    min-height: fit-content;
    margin: 0;
    padding: 0; // font-family: Arial;
    font-family: "Roboto", sans-serif;
}

div {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

.rounded {
    border-radius: 10000px;
}

.save-btn-tip {
    padding-top: 14px;
    display: inline-block;
    margin-left: 5px;
    color: rgb(99, 99, 99);
    font-size: 14px;
}

.vertical-centered-container {
    height: 100%;
    &:before {
        content: '\200B';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

.horizontal-centered-container {
    text-align: center;
    height: 100%;
    &:before {
        display: inline-block;
        height: 100%;
    }
}

.centered-container {
    @extend .vertical-centered-container;
    @extend .horizontal-centered-container; // text-align: center;
    // height: 100%;
    // &:before {
    //     content: '\200B';
    //     display: inline-block;
    //     height: 100%;
    //     vertical-align: middle;
    // }
}

.light-grey-color {
    color: rgb(182, 182, 182) !important;
}

.grey-color {
    color: rgb(124, 124, 124) !important;
}

.dark-grey-color {
    color: rgb(92, 92, 92) !important;
}

.centered {
    display: inline-block;
    vertical-align: middle;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: transparent;
    border: 0;
}

.swiper-container .swiper-slide {
    text-align: center;
}

.filters__inputs-wrap {
    background-color: #8895DC;
    padding: 10px;
    .input-field {
        min-height: fit-content;
    }
    .fc-label {
        color: white;
    }
    .fc,
    .multiselect__input {
        padding-left: 10px; // @include placeholder(rgb(63, 63, 63));
    }
}

.filters__additional-filters {
    &.collapsible {
        padding: 0 10px 0;
    }
    .collapsible-header-wrap {
        color: white;
    }
}

.filters__inputs-hearer {
    color: white;
}

.filters__search-wrap {
    position: relative;
}

.filters__search-input {
    padding-right: 100px !important;
    height: 37px !important;
    padding-top: 10px !important;
    margin-bottom: 45px;
    background-color: transparent;
    @include placeholder(white !important);
    color: white !important;
    border-bottom: 1px solid #cacfeb !important;
    box-shadow: 0 2px 0px 0px rgba(201, 206, 233, 0.8);
}

.filters__search-submit {
    position: absolute;
    top: 0;
    right: -1px;
    .md-icon {
        color: #cacfeb !important;
    }
}

.filters__collapsible-card {
    margin-bottom: 15px;
}

.item-details__header-wrap {
    background-color: #3f51b5;
    padding: 50px;
    position: relative;
    @include clearfix();
    @media only screen and (max-width: 48em) {
        padding: 20px 5% 20px;
    }
}

.item-details__header {
    color: white;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    margin: 0;
}

.item-details__right-header {
    @extend .item-details__header;
    font-size: 38px;
    float: right;
    color: #8997e7;
    @media only screen and (max-width: 48em) {
        float: none;
        margin-bottom: 10px; // text-align: center;
    }
}

.i-det__subheader {
    color: #8795dd;
    font-size: 14px;
}

.item-details__content {
    padding: 48px 100px 20px;
    @include reducePadd();
}

.card-info-label {
    color: #b7bbc0;
    padding: 20px 0 4px;
    display: block;
    font-size: 13px;
}

.card-info-value {
    color: #465969;
    padding: 4px 0 10px;
    min-height: 34px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(219, 219, 219);
    display: block;
    font-size: 16px;
}

a {
    &:focus {
        outline-color: rgba(133, 133, 133, 0.18);
        outline-width: 2px;
        outline-style: solid;
        transition: none; // box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3)!important;
    }
}

.md-button {
    &:focus {
        // outline-color: rgba(133, 133, 133, 0.18);
        // outline-width: 2px;
        // outline-style: solid;
        box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3) !important;
        transition: none;
    }
}

a {
    &.md-button {
        text-align: center;
        line-height: 36px;
        color: rgba(0, 0, 0, 0.87);
        color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
        &:focus {
            outline: none;
        }
    }
    &.md-raised {
        background-color: #fff;
        background-color: var(--md-theme-default-background, #fff);
        color: rgba(0, 0, 0, 0.87);
        color: var(--md-theme-default-text-primary-on-background, rgba(0, 0, 0, 0.87));
    }
    &.md-primary {
        color: #fff;
        color: var(--md-theme-default-text-primary-on-primary, #fff);
        background-color: #448aff;
        background-color: var(--md-theme-default-primary, #448aff);
    }
    &.md-button.md-fab {
        line-height: 56px;
        text-align: center;
        background-color: #ff5252;
        background-color: var(--md-theme-default-accent, #ff5252);
        &:not([disabled]) .md-icon-font {
            color: #fff;
            color: var(--md-theme-default-text-primary-on-accent, #fff);
        }
    }
}

.received-resume__unviewed {
    position: relative;
    &:before {
        content: " ";
        width: 5px;
        height: 5px; // margin: 3px 0 3px -10px;
        left: -10px;
        top: 5px;
        position: absolute;
        border-radius: 10px;
        background-color: red;
        display: inline-block;
    }
}

.sent-date {
    font-size: 12px;
    margin-top: 7px;
}

.selected-place-range {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media only screen and (max-width: 48em) {
    .main-page-view {
        margin-top: $mini-header-height !important;
    }
    .header {
        height: $mini-header-height !important;
    }
    .item-details__header-wrap {
        padding: 20px 5% 20px;
    }
    .item-details__header {
        font-size: 24px;
        line-height: 30px;
    }
}