$header-height: 77px;
$mini-header-height: 50px;
// z-indexes ------------- // 
$header-z-index: 600;
$map-full-screen-z-index: 605;
$drawer-overlay-z-index: 620;
$drawer-z-index: 650;
$modal-z-index: 999;
$md-snackbar-z-index: 1010;
$request-loader-z-index: 1020;
$multiselect--active-z-index: 2000;
$multiselect__content-wrapper-z-index: 2000;


// colors ----------
$dark-purple-color: #2f3e9b;