<template>
  <div class="main-page">
    <div class="mp__header-wrap">

      <!-- <div class="align-center mp__navigations">
        <router-link :to="{ name: 'CompaniesList' }" class="md-button mp__navigation-btn">{{ $tg.companies }}</router-link>
        <router-link :to="{ name: 'VacanciesList' }" class="md-button mp__navigation-btn">{{ $tg.vacancies }}</router-link>
        <router-link :to="{ name: 'ResumesList' }" class="md-button mp__navigation-btn">{{ $tg.resumes }}</router-link>
      </div> -->

      <h1 class="mp__header mp__app-name">
        <span class="mp__app-name-2">J<span class="mp__app-name-o">&#9679;</span>
          <!-- <span class="d-none">b</span>
          <div class="mp__b-wrap">
            <img class="mp__b" src="~assets/images/logo-b.png">
          </div> -->
          <div class="mp__b-wrap"></div>
          s</span>
        <span>
          &amp; Map
        </span>
      </h1>
      <!-- <h1 class="mp__header mp__app-name">{{ $consts.appName }}</h1> -->
      <h2 class="mp__header mp__header-desc">
        <!-- <router-link :to="{ name: 'NearTheHouse' }"> -->
        {{ t.mainDescription }}
        <!-- </router-link> -->
        <!-- <md-icon>location_on</md-icon> -->
      </h2>
      <!-- <h2 class="mp__header mp__header-desc">{{ t.findJob }} Easy, easy!</h2> -->

      <NearbyEntitiesCounts/>

      <div class="align-center">
        <h2 class="mp__register-label">{{ $t.header.signUp }}</h2>
        <router-link :to="{ name: 'SignUpAsCompany'}" class="md-button md-raised mp__sign-up">{{ $t.signUp.asCompanyMenu }}</router-link>
        <router-link :to="{ name: 'SignUpAsApplicant'}" class="md-button md-raised mp__sign-up">{{ $t.signUp.asApplicantMenu }}</router-link>
      </div>
    </div>

    <div class="features-block">
      <div class="features-inner-block xs-small-padd">

        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="fb__block">
              <h2 class="h2 center">
                <md-icon class="fb__icon">location_city</md-icon>
              </h2>
              <h5 class="fb_header center">{{ t.features.companiesSearchHeader }}</h5>

              <p class="fb__text">
                {{ t.features.companiesSearch }}
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="fb__block">
              <h2 class="h2 center">
                <md-icon class="fb__icon">search</md-icon>
              </h2>
              <h5 class="fb_header center">{{ t.features.vacanciesSearchHeader }}</h5>

              <p class="fb__text">
                {{ t.features.vacanciesSearch }}
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="fb__block">
              <h2 class="h2 center">
                <md-icon class="fb__icon">person</md-icon>
              </h2>
              <h5 class="fb_header center">{{ t.features.resumesSearchHeader }}</h5>
              <p class="fb__text">
                {{ t.features.resumesSearch }}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</template>

<script lang="ts" src="./main-page.ts"></script>
<style lang="scss" src="./main-page.scss"></style>
