@import '~assets/css/all-utils.scss';
.main-page {
    width: 100%;
    margin-top: 0 !important;
}

.mp__header-wrap {
    color: white;
    padding: 80px 20px 50px;
    text-align: center;
    background: linear-gradient(110deg, #2168d0 60%, #0566c0 60%);
}

.mp__navigations {
    margin-top: 20px !important;
}

.mp__navigation-btn {
    color: white !important;
    margin: 0 10px !important;
    font-weight: 300 !important;
}

.mp__header {
    font-weight: 200;
}

.mp__app-name {
    font-size: 60px;
    margin: 50px 0 0;
    line-height: 1.2;
}

.mp__app-name-o {
    // display: inline-block;
    // transform: scaleY(0.84);
    // position: relative;
    // top: 4px;
    // margin-left: -15px;
    // font-family: monospace;
    // font-family: 'Courier New', Courier, monospace
    position: relative;
    top: 6px;
    font-size: 70px;
}

.mp__app-name-2 {
    display: inline-block;
}

.mp__header-desc {
    font-size: 22px;
    a {
        color: #dddddd !important;
    }
    margin: 0;
    line-height: 1;
    letter-spacing: 3px;
}

.mp__b-wrap {
    display: inline-block;
    position: relative;
    margin: 0 -10px;
    top: 1px;
    background: url("~assets/images/logo-b.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 28px;
    height: 52px;
}

.mp__register-label {
    font-weight: 300;
    margin: 50px 0 10px;
}

.mp__sign-up {
    font-weight: 400 !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

@media only screen and (max-width: 48em) {
    .mp__header-wrap {
        padding: 50px 4% 50px;
    }
    .mp__app-name {
        font-size: 40px;
    }
    .main-page {
        // min-height: calc(100vh - #{$mini-header-height});
    }
    .mp__app-name-o {
        // display: inline-block;
        // transform: scaleY(0.84);
        // position: relative;
        // top: 3px;
        // margin-left: -12px;
        // font-family: monospace;
        top: 2px;
        font-size: 37px;
    }
    .mp__app-name-2 {
        display: inline-block;
    }
    .mp__b-wrap {
        margin: 0px -12px;
        background-size: 63%;
        height: 30px;
        width: 25px;
        left: 5px;
    }
}

.main-page-header {
    // background-color: #00000026 !important;
    background: linear-gradient(110deg, #2167d0ec 62%, #0566c0e8 66%);
}

.features-block {
    background-color: #ffffffeb; // background: linear-gradient(80deg, #ffffffeb 34%, #ededed 33%);
    background: linear-gradient(110deg, #ffffffeb 51%, #ededed 55%)
}

.features-inner-block {
    padding: 20px 15% 20px;
}

.fb__icon {
    color: #795548 !important;
    font-size: 50px !important;
}

.fb_header {
    font-size: 22px;
    padding: 15px 10px 5px;
    margin: 0;
    font-weight: 400;
    line-height: 110%;
    color: rgba(0, 0, 0, 0.87);
}

.fb__text {
    text-align: center;
    font-weight: 300;
    line-height: 1.8rem;
    color: rgba(0, 0, 0, 0.87);
}

.fb__block {
    padding: 0 20px;
}