<template>
  <div class="resumes">
    <div class="simple-stub"></div>
    <div class="profile-content">
      <h1 class="c-white">{{ $tg.resumes }}</h1>
      <form @submit.prevent="validateAndApply()">
        <div class="filters__search-wrap">
          <m-input
            v-model="formModel.searchString"
            class="filters__search-input"
            maxlength="100"
            :placeholder="t.searchDotted"
          />
          <m-button
            class="filters__search-submit md-icon-button"
            type="submit"
            :loadingPromise="submitBtnPromise"
          >
            <md-icon>search</md-icon>
          </m-button>
        </div>
      </form>
      <div>
        <div class="card filters__collapsible-card">
          <collapsible :header="t.additionalFiltersHeader">
            <form @submit.prevent="validateAndApply()">
              <div class="row">

                <field
                  class="col-xs-12 col-sm-4"
                  :label="$tg.professionLabel"
                >
                  <profession-multiselect v-model="formModel.profession"></profession-multiselect>
                </field>

                <field
                  class="col-xs-12 col-sm-4"
                  :label="$t.vacancies.edit.employmentTypeLabel"
                >
                  <employment-type-multiselect v-model="formModel.employmentType" />
                </field>

                <div class="xs-hidden col-sm-4"></div>

                <field
                  class="col-xs-12 col-sm-4"
                  :label="t.moreThanSalaryPerMonthLabel"
                >
                  <number-input
                    v-model="formModel.moreThanSalaryPerMonth"
                    :min="0"
                    :max="mtsMax"
                    :placeholder="$tg.enterNumber"
                  />
                </field>
                <field
                  class="col-xs-12 col-sm-4"
                  :label="t.lessThanSalaryPerMonthLabel"
                >
                  <number-input
                    v-model="formModel.lessThanSalaryPerMonth"
                    :min="ltsMin"
                    :max="$consts.validations.maxSalary"
                    :placeholder="$tg.enterNumber"
                  />
                </field>

                <field
                  class="col-xs-12 col-sm-4"
                  :label="$t.vacancies.edit.currencyLabel"
                >
                  <currency-multiselect v-model="formModel.currency" />
                </field>

                <field
                  class="col-xs-12 col-sm-4"
                  :label="t.moreThanExperienceYearsLabel"
                >
                  <number-input
                    v-model="formModel.moreThanExperienceYears"
                    :min="0"
                    :max="mtexMax"
                    :placeholder="$tg.enterNumber"
                  />
                </field>
                <field
                  class="col-xs-12 col-sm-4"
                  :label="t.lessThanExperienceYearsLabel"
                >
                  <number-input
                    v-model="formModel.lessThanExperienceYears"
                    :min="ltexMin"
                    :placeholder="$tg.enterNumber"
                  />
                </field>
              </div>
            </form>
          </collapsible>
        </div>

        <div class="card filters__collapsible-card">
          <collapsible
            :header="t.showOnMapOrFindByAddress"
            :collapsed.sync="collapsedAddresses"
          >
            <SearchResumesByAddresses
              ref="searchByAddresses"
              @input="onSearchByAddressesInput"
              v-model="formModel.address"
              :resumes="items"
              @sbm="validateAndApply()"
            />
          </collapsible>
        </div>
      </div>
      <div v-if="items && items.length">
        <div class="cards-list card">
          <div
            class="card-list__item clearfix"
            v-for="resume in items"
            :key="resume.id"
          >

            <div
              v-if="resume.applicant.photoUri"
              class="right cl-item__photo-wrap"
            >
              <img
                :src="resume.applicant.photoUri"
                class="cl-item__photo"
                :alt="`Applicant '${resume.applicant.fullName}' photo`"
              >
            </div>

            <div class="cl-item__content">
              <div class="cl-item__name-link">
                <router-link :to="{ name: 'ResumeDetails', params: { resumeId: resume.id } }">
                  <span class="cl-item__name">{{ resume.name }}</span>
                  <span
                    class="cl-item__name-salary"
                    v-if="resume.salaryPerMonth"
                  >({{ resume.salaryPerMonth }} {{ resume.currency | Safe('name') }})</span>
                </router-link>
              </div>

              <div>
                <div
                  class="ci-list__info-wrap"
                  v-if="resume.experienceYears"
                >
                  <span class="ci-list__info-label">{{ $t.resumes.edit.experienceYearsLabel }}:</span>
                  <span class="ci-list__info-value">{{ resume.experienceYears }}</span>
                </div>
                <div
                  class="ci-list__info-wrap"
                  v-if="resume.applicant.contactEmail"
                >
                  <span class="ci-list__info-label">{{ $t.applicant.contactEmailLabel }}:</span>
                  <span class="ci-list__info-value">{{ resume.applicant.contactEmail }}</span>
                </div>
                <div
                  class="ci-list__info-wrap"
                  v-if="resume.applicant.contactPhone"
                >
                  <span class="ci-list__info-label">{{ $t.applicant.contactPhoneLabel }}:</span>
                  <span class="ci-list__info-value">{{ resume.applicant.contactPhone }}</span>
                </div>
                <div
                  class="ci-list__info-wrap"
                  v-if="resume.applicant.dateOfBirth"
                >
                  <span class="ci-list__info-label">{{ $tg.age }}:</span>
                  <span class="ci-list__info-value">{{ resume.applicant.dateOfBirth | AgeByBirthDate }}</span>
                </div>
                <div class="ci-list__info-wrap">
                  <span class="ci-list__info-label">{{ $tg.professionLabel }}:</span>
                  <span class="ci-list__info-value">{{ resume.profession | Safe('name') }}</span>
                </div>
              </div>

              <div class="cl-item__desc resume-item__skills break-word">{{ resume.skills | ShortenStr(250) }}</div>
              <div class="cl-item__desc break-word">{{ resume.description | ShortenStr(250) }}</div>
            </div>
          </div>
        </div>
      </div>
      <h2
        v-else
        class="empty-state-header"
      >
        {{ $tg.noResumes }}
      </h2>
      <PaginationWrap />
    </div>
  </div>
</template>

<script lang="ts" src="./resumes-list.ts"></script>
<style lang="scss" src="./resumes-list.scss"></style>
