<template>
  <div>
    <template v-for="(snackbarProps, index) in snackbars">
      <md-snackbar
        ref="snackbars"
        :style="getSnackbarStyle(index)"
        :md-position="snackbarProps.position"
        :key="index"
        md-persistent
        md-active
      >
        <span v-if="typeof snackbarProps.message === 'string'">{{ snackbarProps.message }}</span>
        <div v-else>
          <ul class="snackbar__error-list">
            <template
              v-if="typeof fieldWithErrors === 'object'"
              v-for="fieldWithErrors in snackbarProps.message"
            >
              <li
                v-for="(error, index) in fieldWithErrors"
                :key="index"
              >
                {{ error }}
              </li>
            </template>
            <li v-else>{{fieldWithErrors}}</li>
          </ul>
        </div>
        <m-button
          class="md-primary snackbar__close-btn"
          :class="{ 'md-accent' : snackbarProps.type == 2 }"
          @click="closeSnackbar(snackbarProps, index)"
        >{{ $tg.close }}</m-button>
      </md-snackbar>
    </template>
  </div>
</template>

<script lang="ts" src="./snackbar-manager.ts"></script>
<style lang="scss" src="./snackbar-manager.scss"></style>

