@import '~assets/css/all-utils.scss';
.md-snackbar {
    z-index: $md-snackbar-z-index;
    max-height: none;
    max-height: calc(95vh - 24px); // max-width: calc(95vw - 24px);
    overflow: auto;
}

.snackbar__error-list {
    padding-left: 10px;
    margin: 0;
}

.snackbar__close-btn {
    min-width: fit-content !important;
    margin-left: 10px !important;
}

@media only screen and (max-width: 500px) {
    .md-snackbar {
        bottom: 0!important;
        left: 0!important;
        right: 0!important;
    }
}