@import '~assets/css/all-utils.scss';
.company-item {
    padding: 18px 13px 10px;
    background-color: #fff;
    margin-top: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.company-item__desc {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 10px;
    padding: 0 0 15px;
    color: #8b8b8b;
}

.company-item__name-link {
    font-weight: normal;
    padding-bottom: 3px;
}

.company-item__name {
    font-size: 24px;
    color: black;
}

.company-item__name-industry {
    font-size: 20px;
    color: grey;
}

.company-item__photo {
    .image-fallback__image {
        max-height: 150px;
        width: auto;
    }
}