<template>
  <!-- extends base-list.pug -->

  <!-- block content -->
  <div class="companies">
    <div class="simple-stub"></div>
    <div class="profile-content">
      <h1 class="c-white">{{ $tg.companies }}</h1>
      <form @submit.prevent="validateAndApply()">
        <div class="filters__search-wrap">
          <m-input
            v-model="formModel.searchString"
            class="filters__search-input"
            maxlength="100"
            :placeholder="t.searchDotted"
          />
          <m-button
            class="filters__search-submit md-icon-button"
            type="submit"
            :loadingPromise="submitBtnPromise"
          >
            <md-icon>search</md-icon>
          </m-button>
        </div>
      </form>
      <div>
        <div class="card filters__collapsible-card">
          <collapsible :header="t.additionalFiltersHeader">
            <m-form @submit="validateAndApply()">
              <div class="row">
                <field
                  class="col-xs-12 col-sm-4"
                  :label="$t.company.industryLabel"
                >
                  <industry-multiselect v-model="formModel.industry"></industry-multiselect>
                </field>

                <field
                  class="col-xs-12 col-sm-4"
                  :label="t.moreThanEmployeeCountLabel"
                >
                  <number-input
                    v-model="formModel.moreThanEmployeeCount"
                    isInt
                    :min="1"
                    :max="mtecMax"
                    :placeholder="$tg.enterNumber"
                  />
                </field>
                <field
                  class="col-xs-12 col-sm-4"
                  :label="t.lessThanEmployeeCountLabel"
                >
                  <number-input
                    v-model="formModel.lessThanEmployeeCount"
                    isInt
                    :min="ltecMin"
                    :max="$consts.validations.maxEmployeeCount"
                    :placeholder="$tg.enterNumber"
                  />
                </field>

                <field
                  class="col-xs-12 col-sm-3"
                  :label="t.moreThanFilialsCountLabel"
                >
                  <number-input
                    v-model="formModel.moreThanFilialsCount"
                    isInt
                    :min="1"
                    :max="9999999"
                    :placeholder="$tg.enterNumber"
                  />
                </field>
                <field
                  class="col-xs-12 col-sm-3"
                  :label="t.lessThanFilialsCountLabel"
                >
                  <number-input
                    v-model="formModel.lessThanFilialsCount"
                    isInt
                    :max="9999999"
                    :placeholder="$tg.enterNumber"
                  />
                </field>

                <field
                  class="col-xs-12 col-sm-3"
                  :label="t.moreThanVacanciesCountLabel"
                >
                  <number-input
                    v-model="formModel.moreThanVacanciesCount"
                    isInt
                    :min="0"
                    :max="9999999"
                    :placeholder="$tg.enterNumber"
                  />
                </field>
                <field
                  class="col-xs-12 col-sm-3"
                  :label="t.lessThanVacanciesCountLabel"
                >
                  <number-input
                    v-model="formModel.lessThanVacanciesCount"
                    isInt
                    :max="9999999"
                    :placeholder="$tg.enterNumber"
                  />
                </field>
              </div>
            </m-form>
          </collapsible>
        </div>

        <div class="card filters__collapsible-card">
          <collapsible
            :header="t.showOnMapOrFindByAddress"
            :collapsed.sync="collapsedAddresses"
          >
            <SearchCompaniesByAddresses
              ref="searchByAddresses"
              @input="onSearchByAddressesInput"
              v-model="formModel.address"
              :companies="items"
              @sbm="validateAndApply()"
            />
          </collapsible>
        </div>

      </div>
      <div v-if="items && items.length">
        <div
          class="company-item"
          v-for="company in items"
          :key="company.id"
        >
          <div class="row">
            <div class="xs-hidden col-xs-5 col-sm-3 col-md-2 col-lg-1">
              <router-link
                class="d-block"
                :to="{ name: 'CompanyDetails', params: { companyId: company.id } }"
              >
                <ImageFallback
                  class="company-item__photo"
                  :imgSrc="company.mainPhotoUri"
                  :name="company.name"
                />
              </router-link>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-xs-11">
              <div class="company-item__name-link">
                <router-link
                  :to="{ name: 'CompanyDetails', params: { companyId: company.id } }"
                  class="d-ib"
                >
                  <span class="company-item__name">{{ company.name }}</span>
                  <span class="company-item__name-industry">({{ company.industry.name }})</span>
                </router-link>
              </div>
              <div v-if="company.employeeCount">
                <span class="ci-list__info-label">{{ $t.company.employeeCountLabel }}:</span>
                <span class="ci-list__info-value">{{ company.employeeCount }}</span>
              </div>
              <div class="company-item__desc break-word">{{ company.description | ShortenStr(150) }}</div>
            </div>
          </div>
        </div>
      </div>
      <h2
        v-else
        class="empty-state-header"
      >{{ $tg.noCompanies }}</h2>
      <PaginationWrap />
    </div>
  </div>

</template>

<script lang="ts" src="./companies-list.ts"></script>
<style lang="scss" src="./companies-list.scss"></style>
