<template>
  <modal @close="close" :header="t.header" @ok="validateAndApply" :loadingPromise="loadingPromise">
    <div slot="body">
      <field :label="$tg.emailLabel" :vs="$v.formModel.email">
        <m-input type="email" :placeholder="$tg.emailPh" v-model="formModel.email" />
      </field>
      <field :label="t.fullNameLabel" :vs="$v.formModel.fullName">
        <m-input :placeholder="t.fullNamePh" v-model="formModel.fullName" />
      </field>
      <field :label="t.phoneNumberLabel" :vs="$v.formModel.phoneNumber">
        <!-- todo, tel in other fields -->
        <m-input type="tel" :placeholder="t.phoneNumberPh" v-model="formModel.phoneNumber" />
      </field>


      <field :label="t.messageLabel" :vs="$v.formModel.message">
        <textarea v-model="formModel.message"></textarea>
      </field>
    </div>
  </modal>
</template>

<script lang="ts" src="./contact-us-modal.ts" lang="ts"></script>
<style lang="scss"></style>
