.m-datepicker {
    &.md-field {
        padding: 0;
        margin: 0;
        min-height: 34px;
    }
    .md-clear {
        display: none;
    }
}

.m-datepicker__clear-btn {
    position: absolute;
    right: -5px;
    top: -3px;
}

.m-datepicker-wrap{
    position: relative;
}

.md-datepicker-dialog {
    transform: translateY(-77px);
}