<template>
  <div class="m-datepicker-wrap">
    <md-datepicker ref="mdDatepicker" class="m-datepicker" :md-model-type="String" @input="onDatepickerInput" :value="internalValue"></md-datepicker>
    <m-button class="md-icon-button m-datepicker__clear-btn" type="button" @click="clearValue" v-if="internalValue">
      <md-icon>close</md-icon>
    </m-button>
  </div>
</template>

<script lang="ts" src="./m-datepicker.ts"></script>
<style lang="scss" src="./m-datepicker.scss"></style>
