<template>
  <div class="my-company-vacancies">
    <div class="card">
      <div class="card-header with-actions">{{ $t.myProfile.menuItems.myCompanyVacancies }}
        <div class="card-header-actions">
          <icon-link to="AddVacancy">add</icon-link>
        </div>
      </div>

      <div class="card-content">
        <div class="list-item" v-for="(vacancy, index) in items" :key="vacancy.id" :class="{ 'deactivated': vacancy.isDisabled }">
          <div class="list-item__content">
            <div>
              <router-link :to="{ name: 'VacancyDetails', params: { vacancyId: vacancy.id } }" class="d-ib">
                <h3 class="li__header" style="margin: 7px 0;">{{ vacancy.name }}</h3>
              </router-link>
              <span v-if="vacancy.salaryPerMonth" class="light-grey-color">
                {{ vacancy.salaryPerMonth }} {{ vacancy.currency.name }}
              </span>
            </div>
            <div class="row list-values">
              <div class="list-value col-xs-6">
                <span class="list-value__caption">{{ $t.company.filialLabel }}:</span> {{ vacancy.companyFilial.name }}</div>
              <div class="list-value col-xs-6">
                <span class="list-value__caption">{{ $t.vacancies.edit.employmentTypeLabel }}:</span> {{ vacancy.employmentType.name }}</div>
              <div class="list-value col-xs-6">
                <span class="list-value__caption">{{ $tg.professionLabel }}:</span> {{ vacancy.profession | Safe('name') }}</div>
              <!-- <div class="list-value col-xs-6">
                <span class="list-value__caption">{{ $t.company.contactPhoneLabel }}:</span> {{ vacancy.contactPhone }}</div>
              <div class="list-value col-xs-6">
                <span class="list-value__caption">{{ $t.company.contactEmailLabel }}:</span> {{ vacancy.contactEmail }}</div> -->
            </div>
          </div>
          <div class="list-item__actions">
            <router-link :to="{ name: 'EditVacancy', params: { vacancyId: vacancy.id } }" class="md-button md-icon-button">
              <md-icon class="md-primary">edit</md-icon>
            </router-link>

            <m-button :ref="activateBtnRefName" v-if="vacancy.isDisabled" @click="showActivateItemConfirmation(vacancy, index)">
              {{ $tg.activate }}
            </m-button>
            <m-button :ref="deactivateBtnRefName" v-else @click="showDeactivateItemConfirmation(vacancy, index)">
              {{ $tg.deactivate }}
            </m-button>
          </div>
        </div>

      </div>

    </div>
  </div>
</template>

<script lang="ts" src="./my-company-vacancies.ts"></script>
<style lang="scss" src="./my-company-vacancies.scss"></style>
